<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="max-w-screen-lg mx-auto mt-8">
            <link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
            <script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
            <div id="search" class="mt-8 hidden"></div>
            <script>
              window.addEventListener('DOMContentLoaded', (event) => {
                  new PagefindUI({ element: "#search",     showImages: false
                                 });
              });
              document.addEventListener('DOMContentLoaded', () => {
	              var element = document.getElementById('search');
	              var trigger = document.getElementById('search_toggle');

	              trigger.addEventListener('click', () => {
		              element.classList.toggle('hidden');
                      element.querySelector("input").value=""
                      element.querySelector("input").focus()
	              });
              });

            </script>

        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
