<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="max-w-screen-lg mx-auto mt-8">
            <link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
            <script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
            <div id="search"></div>
            <script>
                window.addEventListener('DOMContentLoaded', (event) => {
                    new PagefindUI({ element: "#search",     showImages: false
 });
                });
            </script>

        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
