{{ define "main" }}

<div class="p-2 main max-w-prose mx-auto">
  {{ .Content }}
</div>

<div class="p-2 max-w-prose mx-auto">
  {{ $dateFormat := default "Jan 2" (index .Site.Params "date_format") }}
  {{ $.Scratch.Set "lastYear" "" }}
  {{ $.Scratch.Set "lastMonth" "" }}
  {{ range .Pages }}

  {{ $year := .Date.Year }}
  {{ $month := .Date.Month }}

  {{ $lastYear := $.Scratch.Get "lastYear"}}
  {{ $lastMonth := $.Scratch.Get "lastMonth"}}
  {{ if eq $lastYear "" }}
    <h3 class="text-lg text-body text-right font-bold pt-t pb-2 text-center">{{ $month }} {{ $year }}</h3>
  {{ else }}
    {{ if ne $year $lastYear }}
      <h3 class="text-xl font-bold py-4 text-center">{{ $year }}</h3>
    {{ end }}

    {{ if ne $month $lastMonth }}
      <h3 class="text-lg text-bold text-right font-bold pt-4 pb-2">{{ $month }}</h3>
    {{ end }}
  {{ end }}
      
  {{ $.Scratch.Set "lastYear" $year }}
  {{ $.Scratch.Set "lastMonth" $month }}

      <a class="flex block w-full mb-2" href="{{ .RelPermalink }}">
        <p class="inline">
          {{ if .Draft }}DRAFT: {{end}}{{.Title | markdownify}}
          <span class="block md:hidden text-sm text-gray-600">{{ .Params.Subtitle | markdownify }}</span>
        </p>
        <span class="grow hidden md:inline ml-2 px-2 border-gray border-b border-dotted text-sm text-gray-600">{{ .Params.Subtitle | markdownify }}</span>
        <span class="grow inline md:hidden"></span>
        <span>{{ humanize .Date.Day }}</span>
      </a>

      {{ end }}
</div>

{{ end }}
