{{ define "main" }}
<div class="howto md:flex mx-4 overflow-x-auto">
  <div class="md:w-64 flex-none">
    <h1 class="font-bold font-sans text-2xl">{{ .Title }}</h1>

    {{ if .Params.Subtitle }}
      <p class="pt-2 text-lg text-gray-500 italic mr-2">{{ .Params.Subtitle | markdownify }}</p>
    {{ end }}

    <p class="pt-4">
      <a class="text-gray-500 text-sm" href="{{ .Permalink }}">Published {{ .Date.Format "January 2, 2006"  }}</a>
    </p>

    <div>
      {{ range .Params.tags }}
        <a class="text-gray-500 uppercase text-sm" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </div>
    <div class="toc pt-4 sticky top-0 ">
      <div class="text-lg font-bold">Contents</div>
      {{ .TableOfContents }}
    </div>
  </div>

  <div class="content">
    {{ if .Params.Obsolete }}
    <p class="text-lg font-bold">This post is very old and contains obsolete information.</p>
    {{ end }}
    {{ .Content }}
  </div>
</div>


<div class="mx-auto py-12 max-w-prose px-2">
  {{ if .Prev }}
  <p class="uppercase text-gray-500 text-sm">Previously</p>
  <a class="flex block w-full mb-2" href="{{ .Prev.RelPermalink }}">
    <span class="hidden md:inline text-gray-500 flex-none w-[10ch]">{{ .Prev.Section }}</span>
    <p class="inline">
      {{ .Prev.Title | markdownify }}
      <span class="block md:hidden text-sm text-gray-600">{{ .Prev.Params.Subtitle | markdownify }}</span>
    </p>
    <span class="grow hidden md:inline ml-2 px-2 border-gray border-b border-dotted text-sm text-gray-600">{{.Prev.Params.Subtitle | markdownify }}</span>
    <span class="grow inline md:hidden"></span>
    <span>{{ .Prev.Date.Format "2006-01-02" }}</span>
  </a>
  {{ end }}
  

  {{ if .Next }}
  <p class="uppercase text-gray-500 text-sm">Next</p>
  <a class="flex block w-full mb-2" href="{{ .Next.RelPermalink }}">
    <span class="hidden md:inline text-gray-500 flex-none w-[10ch]">{{ .Next.Section }}</span>
    <p class="inline">
      {{ .Next.Title | markdownify }}
      <span class="block md:hidden text-sm text-gray-600">{{ .Next.Params.Subtitle | markdownify }}</span>
    </p>
    <span class="grow hidden md:inline ml-2 px-2 border-gray border-b border-dotted text-sm text-gray-600">{{.Next.Params.Subtitle | markdownify }}</span>
    <span class="grow inline md:hidden"></span>
    <span>{{ .Next.Date.Format "2006-01-02" }}</span>
  </a>
  {{ end }}
</div>

<div class="mx-auto py-12 max-w-prose px-2">
  <p class="uppercase text-gray-500 text-sm font-bold">{{ .Section }}</p>

  {{ if .PrevInSection }}
  <p class="uppercase text-gray-500 text-sm pt-8">Previously</p>
  <a class="flex block w-full mb-2" href="{{ .PrevInSection.RelPermalink }}">
    <span class="hidden md:inline text-gray-500 flex-none w-[10ch]">{{ .PrevInSection.Section }}</span>
    <p class="inline">
      {{ .PrevInSection.Title | markdownify }}
      <span class="block md:hidden text-sm text-gray-600">{{ .PrevInSection.Params.Subtitle | markdownify }}</span>
    </p>
    <span class="grow hidden md:inline ml-2 px-2 border-gray border-b border-dotted text-sm text-gray-600">{{.PrevInSection.Params.Subtitle | markdownify }}</span>
    <span class="grow inline md:hidden"></span>
    <span>{{ .PrevInSection.Date.Format "2006-01-02" }}</span>
  </a>
  {{ end }}
  

  {{ if .NextInSection }}
  <p class="uppercase text-gray-500 text-sm">Next</p>
  <a class="flex block w-full mb-2" href="{{ .NextInSection.RelPermalink }}">
    <span class="hidden md:inline text-gray-500 flex-none w-[10ch]">{{ .NextInSection.Section }}</span>
    <p class="inline">
      {{ .NextInSection.Title | markdownify }}
      <span class="block md:hidden text-sm text-gray-600">{{ .NextInSection.Params.Subtitle | markdownify }}</span>
    </p>
    <span class="grow hidden md:inline ml-2 px-2 border-gray border-b border-dotted text-sm text-gray-600">{{.NextInSection.Params.Subtitle | markdownify }}</span>
    <span class="grow inline md:hidden"></span>
    <span>{{ .NextInSection.Date.Format "2006-01-02" }}</span>
  </a>
  {{ end }}
</div>
{{ end }}
