{{ define "main" }}
<div class="howto md:flex mx-4">
  <div class="md:w-64 flex-none">
    <h1 class="font-bold font-sans text-2xl">{{ .Title }}</h1>

    {{ if .Params.Subtitle }}
      <p class="pt-2 text-lg text-gray-500 italic mr-2">{{ .Params.Subtitle | markdownify }}</p>
    {{ end }}

    <p class="pt-4">
      <a class="text-gray-500 text-sm" href="{{ .Permalink }}">Published {{ .Date.Format "January 2, 2006"  }}</a>
    </p>

    <div>
      {{ range .Params.tags }}
        <a class="text-gray-500 uppercase text-sm" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </div>
    <div class="toc pt-4 sticky top-0 ">
      <div class="text-lg font-bold">Contents</div>
      {{ .TableOfContents }}
    </div>
  </div>

  <div class="content">
    {{ if .Params.Obsolete }}
    <p class="text-lg font-bold">This post is very old and contains obsolete information.</p>
    {{ end }}
    {{ .Content }}
  </div>
</div>


<footer class="mx-auto py-12 max-w-prose px-2">
  {{ if .Prev }}
  <p>
    <i>Previously:</i> <a href="{{ .Prev.Permalink }}">{{ .Prev.Title }}</a>
  </p>
  {{ end }}
  
  {{ if .Next }}
  <p>
    <i>Next:</i> <a href="{{ .Next.Permalink }}">{{ .Next.Title }}</a>
  </p>
  {{ end }}

  <h3 class="text-lg font-bold pt-8 pb-2">In {{.Section}}</h3>
  
  {{ if .PrevInSection }}
  <p>
    <i>Previously:</i> <a class="" href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a>
  </p>
  {{ end }}

  {{ if .NextInSection }}
  <p>
    <i>Next:</i> <a class="" href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a>
  </p>
  {{ end }}


{{ end }}
