{{ define "main" }}
<section class="container page-list fragment-list">
  <h1>{{ .Title }}</h1>
  {{ with .Params.description }}<p class="section-description">{{ . }}</p>{{ end }}

  {{ range .Paginator.Pages }}
  <article>
    <header>
      <p class="fragment-meta">
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      </p>

      <h2><a href="{{ .RelPermalink }}">
        {{ if .Draft }}DRAFT: {{ end }}
        {{ .Title }}</a></h2>
      {{ with .Params.Subtitle }}
        <h3>{{ . | markdownify }}</h3>
      {{ end }}

      {{ with .Params.tags }}
      <ul class="tags">
        {{ range . }}
        <li><a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
      </ul>
      {{ end }}
    </header>

    <section>
      {{ .Content }}
    </section>
  </article>
  {{ end }}

  {{- with .Paginator }}
    {{- with .Next }}
      <div class="pagination">
        <a href="{{ .URL }}" aria-label="Next" class="page-link" role="button">&raquo; Older</a>
      </div>
    {{- end }}
  {{- end }}
</section>
{{ end }}
