@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Lato:900,300italic);
@import url(http://fonts.googleapis.com/css?family=Lustria);

$font-family-base: 'Lustria', Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Inconsolata, Menlo, Monaco, Consolas, "Courier New", monospace;
$headings-font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "bootstrap";

.dashboard {
  li {
    // margin-top: 10px;
    padding: 20px 0px;;
    font-size: 1.5em;

    &:hover {
      background: #ddd;
    }
  }

  .drafts {
    @extend .col-sm-5;
    @extend .col-sm-offset-1;

    button {
      @extend .pull-right;
    }
  }

  .published {
    @extend .col-sm-5;
    @extend .col-sm-offset-1;
  }
}

.editor {
  .meta {
    @extend .row;
  }

  .edit {
    @extend .row;

    .left {
      @extend .col-sm-1;
    }

    .content {
      @extend .col-sm-10;
    }
  }
}

textarea {
  outline: none;
  width: 100%;
  font-family: $font-family-base;
  font-size: 1.5em;
  height: 500px;
  border: none;
}
