// @import url(http://fonts.googleapis.com/css?family=Lato:300);
// @import url(http://fonts.googleapis.com/css?family=PT+Serif); 
//@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Cardo:700,400italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300italic);

$font-family-base: 'Merriweather', Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Inconsolata, Menlo, Monaco, Consolas, "Courier New", monospace;
$headings-font-family: 'Cardo', "Helvetica Neue", Helvetica, Arial, sans-serif;
// $headings-font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "bootstrap";

.article-title {
  text-align: center;
  padding-top: 5em;
  min-height: 20em;

  h2 {
    font-style: italic;
  }
}

.main-title {
  text-align: center;
  padding-top: 5em;
  min-height: 20em;

  h2 {
    font-style: italic;
  }
}


.sidebar {
  @extend .col-md-3;
}

.content {
  @extend .col-md-10;
  @extend .col-md-offset-1;
  p {
    font-size: 1.4em;
    line-height: 2em;
  }

  // ol, ul {
  //   font-size: 20px;
  //   line-height: 26px;
  // }
}

.post {
  @extend .row;
  color: #333;

  .post-title {
    @extend .col-sm-8;
    .tag {
      @extend .btn;
      @extend .btn-default;
      display: inline-block;
    }

    // .tag:hover {
    //   border: 1px solid #aaa;
    // }
  }

  .post-date {
    @extend .col-sm-3;

    text-align: right;

    .draft {
      font-style: italic;
      font-size: 1.3em;
    }
  }

  p {
    line-height: 1.7em;
    padding: 0;
    margin: 0;
  }

  p.subtitle {
    font-style: italic;
    font-size: 1.3em;
  }

  a {
    color: #333;
  }

  margin-bottom: 2em;
}

pre {
  font-size: 18px;
}