@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,300,600,600italic);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

$font-family-base: 'Source Sans Pro', Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Inconsolata, Menlo, Monaco, Consolas, "Courier New", monospace;
$headings-font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

$headings-font-weight: 600;
$border-radius-base: 2px;

$navbar-border-radius: none;
$navbar-default-bg: white;
$brand-primary: #36649f;
$navbar-default-link-color: black; //$brand-primary;

$font-size-base: 16px;

@import "bootstrap";

.btn {
  // @include box-shadow( 1px 1px 2px rgba(0, 0, 0, 0.3) );
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  $shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
  @include box-shadow($shadow);

}

body {
  margin-top: $navbar-height;
  // font-weight: 300;
  position: relative;
  background: black;
  @media ( orientation: landscape ) and (max-width: $screen-xs-max) {
    margin-top: 0px;
  }
}

nav {
  font-family: $headings-font-family;
  &.navbar {
    margin-bottom: 0px;
  }

  a {
    text-transform: uppercase;
    color: black;

    &.navbar-brand {
      text-transform: none;
    }
  }

  .dropdown-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;

    a {
      text-transform: none;
    }
  }

  @media ( orientation: landscape ) and (max-width: $screen-xs-max ){
    &.navbar-fixed-top {
      // display: none;
      position: relative;
      font-size: .75em;
    }
  }
}

th {
  font-family: $headings-font-family;
}

.article-header {
  @include gradient-directional($start-color: #102254, $end-color: #36649f, $deg: 140deg);
  box-shadow: 0 2px 2px #102254 inset;

  color: white;

  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;

  @media print {
    padding-top: 0;
    padding-bottom: 0;
  }

  
  a { color: white; }

  h2 {
    font-style: italic;
  }

  .avatar {
    margin: auto;
    max-width: 75px;
    img {
      border-radius: 100%;
      border: 4px solid white;
    }
  }
  .tags {
    // display: inline;
    text-align: center;
    font-family: $headings-font-family;
    font-size: 1.2em;
    line-height: 30px;

    .tag {
      display: inline;
    }
  }

  @media ( orientation: landscape ) and (max-width: $screen-xs-max) {
    padding-top: 1em;
    padding-bottom: 1em;
    
    h1 {
      font-size: 1.4em;
    }

    h2 {
      font-size: 1.4em;
    }

    .tags {
      font-size: .75em;
    }
  }


  @media (max-width: $screen-sm-min) {
    .tags {
      float: none;
      display: block;
    }
  }

  span.disqus-comment-count {
    display: block;
    padding-top: 1em;
    font-family: $headings-font-family;
  }

}


.footer.lighter {
  background: transparent;
  @media (min-width: $screen-md-min) {
    padding-top: 10em;
    padding-bottom: 10em;
  }

}

.article-header.lighter, .footer.lighter {
  color: white;
  background: rgba( 0, 0, 0, .2 );
  a{ color: white; }
}

.banner img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  // display: none;
  overflow-x: hidden;
}

.content {
  background: white;
  @extend .container-fluid;
  padding-top: 2em;

  .sidebar {
    @extend .col-md-2;

    @media (max-width: $screen-md-min) {
      display: none;
    }

    @media print {
      display: none;
    }

    ul, ol {
      margin-top: $navbar-height;
      font-family: $headings-font-family;
      list-style:none;
      li {
        text-indent: -1.7em;
        margin-left: 1.7em;
        margin-bottom: 1em;

        &.active a {
          font-weight: bold;
        }
      }
      a {
        padding: 0;
        color: black;
        // text-transform: uppercase;
        &:hover {
          background: inherit;
          font-weight: bold;
        }
      }

      &.affix {
        margin-top: 0;
        top: $navbar-height + 10;
        width: 15%;
        @media (max-width: $screen-md-min) {
          position: relative;
          width: 100%;
        }

        // padding-left: 15px;
        // padding-right: 15px;
      }
    }
  }

  .article {
    @extend .col-md-8;

    @media print {
      width: 80%;
      margin-left: 10%;
      padding-top: 0;
    }

    // padding-top: 3em;

    p {
      font-size: 1.5em;
      line-height: 1.8em;
      padding-bottom: 1em;
      // text-align: justify;
      @media (max-width: $screen-sm-max) {
        font-size: 1.5em;
      }
    }

    ul, ol {
      li {
        font-size: 1.5em;
        line-height: 1.8em;
        margin-bottom: 0.5em;
        @media (max-width: $screen-sm-max) {
          font-size: 1.5em;
        }
        p {
          padding-bottom: 0;
          font-size: 1em;
        }
      }
      padding-bottom: 1em;
    }

    @media (min-width: $screen-md-min) {
      margin-right: 30px;
    }

    img.centered {
      margin: auto;
    }

    @media ( orientation: landscape ) and (max-width: $screen-xs-max) {
      p {
        font-size: 1em;
      }

      ul li, ol li {
        font-size: 1em;
      }

      h1, h2, h3 {
        font-size: 1.5em;
      }
    }

  }

  .navigation {
    @media print {
      display: none;
    }

    // @extend .col-md-2;
    font-family: $headings-font-family;
    margin-left: 2em;
    margin-top: $navbar-height;
    a { color: black; }
    .title {
      font-family: $headings-font-family;
      font-weight: bold;
    }
    &.affix {
      margin-top: 0;
      top: $navbar-height + 10;
      right: 0;
      padding-right: 5px;
      width: 14%;
      @media (max-width: $screen-md-min) {
        position: relative;
        width: inherit;
        top: inherit;
      }
    }
    @media (max-width: $screen-md-min) {
      // display: none;
      padding-bottom: 2em;

      .next {
        @include make-sm-column( 4 );
        @include make-sm-column-offset( 1 );
      }
      .prev {
        @include make-sm-column( 4 );
        @include make-sm-column-offset( 2 );
      }
    }
  }
}

pre {
  font-size: 1.5em;
  overflow: scroll;
  @media (max-width: $screen-sm-min) {
    font-size: 1.2em;
    overflow: hidden;
  }
}

code {
  overflow: scroll;

  @media (max-width: $screen-sm-min) {
    font-size: 12px;
    overflow: hidden;
  }
}

.article_footer {
  @media print {
    display: none;
  }

  font-family: $headings-font-family;
  font-size: 1.4em;
  color: #ccc;
  padding-bottom: 2em;
  // background: rgba( 255, 255, 255, .8 );
  // position: relative;

  a#comment_shower {
    color: black;
  }

  .comments {
    @extend .col-sm-5;
    @extend .col-sm-offset-2;
    font-style: italic;
  }
  .sharing {
    @extend .col-sm-3;
    text-align: right;
    a {
      margin-left: 1em;
    }
  }
}
.comment_row {
  @extend .row;
  // background: rgba( 255, 255, 255, .8 );
  // position: relative;  
}
.comment_universe {
  @extend .col-md-8;
  @extend .col-md-offset-2;
  display: none;
}

.main-header {
  @include gradient-directional($start-color: #102254, $end-color: #36649f, $deg: 140deg);
  box-shadow: 0 2px 2px #102254 inset;

  color: white;
  a {
    color: white;
    text-decoration: underline;
  }


  .avatar {
    @extend .col-sm-4;
    @extend .col-sm-push-8;
    @extend .col-md-3;
    @extend .col-lg-push-7;
  }

  .bio {
    @extend .col-md-offset-1;
    // @extend .col-sm-offset-0;
    @extend .col-sm-8;
    @extend .col-md-6;
    @extend .col-sm-pull-4;
    @extend .col-md-pull-3;
    @extend .col-lg-5;
    @extend .col-lg-offset-2;
  }

  p {
    font-family: $headings-font-family;
    font-size: 1.5em;
  }

  .avatar {
    text-align: center;

    margin-top: 2em;
    margin-bottom: 2em;
    img {
      display: inline-block;
      border-radius: 100%;
      border: 4px solid white;
      max-height: 175px;
    }

    .social {
      margin-top: 1em;
      text-align: center;

      span {
        display: inline-block;
        margin-left: 4px;
        @media( max-width: $screen-md-max ) {
          margin-left: 2px;
        }
      }


      // For ipads

      @media( min-width: $screen-sm-min ) and ( max-width: $screen-md-max ) {
        .webicon {
          width: 20px;
          height: 20px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
        }
      }
    }
  }

  @media (max-width: $screen-sm-min) {
    padding-bottom: 1em;
  }
  @media (min-width: $screen-md-min) {
    padding-top: 3em;
    padding-bottom: 2em;
  }
}

.recent-posts {
  background: white;
  &.header {
    @include gradient-directional($start-color: #102254, $end-color: #36649f, $deg: 140deg);
    box-shadow: 0 2px 2px #102254 inset;
    color: white;
  }
  &.about {
    box-shadow: 0 2px 2px #ddd inset;
    @include gradient-directional($start-color: #fff, $end-color: #ddd, $deg: 140deg);
  }
  
  padding-top: 1em;
  padding-bottom: 1em;
  .more {
    float: right;
  }

  .article {
    @extend .col-md-8;
    @extend .col-md-offset-2;
    @extend .col-sm-10;
    @extend .col-sm-offset-1;
    h1 {
      text-align: center;
    }
    h3 {
      margin-top: 0;
      font-style: italic;
    }
    p {
      font-size: 1.5em;
      line-height: 1.8em;
      padding-bottom: 1em;
      // text-align: justify;
    }
    padding-bottom: 1em;
  }

  a.more {
    font-size: 1.5em;
  }

  h2.allposts {
    text-align: center;
    a {
      color: black;
    }
  }

  ul {
    font-family: $headings-font-family;
    list-style: none;
    padding: 0;
    font-size: 1.5em;

    li {
      border-bottom: 1px solid gray;
      margin-bottom: 1em;
      clear: both;
      &.date {
        border-bottom: none;
      }
      &:last-child {
        border: none;
      }
    }
  }

  .tags {
    display: inline;
    float: right;
    font-family: $headings-font-family;
    font-size: 16px;
    line-height: 30px;

    .tag {
      display: inline;
    }
  }

  @media (max-width: $screen-sm-min) {
    .tags {
      float: none;
      display: block;
    }
  }
}

.tracks {
  @include gradient-directional($start-color: #102254, $end-color: #36649f, $deg: 140deg);
  color: white;

  box-shadow: 0 2px 2px #102254 inset;


  h1 {
    text-align: center;
  }

  .track {
    @extend .col-sm-4;
    @media (min-width: $screen-xs-max) {
      min-height: 15em;
    }
  }

  p {
    font-size: 20px;
    font-family: $headings-font-family;

    a {
      text-decoration: underline;
    }
  }

  a {
    color: white;
  }

  @media (min-width: $screen-md-min) {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

.post-list {
  @extend .col-md-8;
  @extend .col-md-offset-2;
  @extend .col-sm-10;
  @extend .col-sm-offset-1;

  h1 {
    text-align: center;
    &.recent {
      text-align: left;
    }
  }
}

footer {
  @media print {
    display: none;
  }

  position: relative;
}

footer.codex {
  @include gradient-directional($start-color: #102254, $end-color: #36649f, $deg: 140deg);
  color: white;

  p {
    font-family: $headings-font-family;
  }
  a{ 
    color: white;
    text-decoration: underline;
  }

  box-shadow: 0 2px 2px #102254 inset;
  padding-top: 2em;
  padding-bottom: 2em;

 .logo {
    @extend .col-xs-12;
    text-align: center;
    @media (min-width: $screen-sm-min) {
      padding-top: 4em;
    }
    @media (min-width: $screen-md-min) {
      padding-top: 1em;
    }
    @media (min-width: $screen-lg-min) {
      padding-top: 0em;
    }
    @media (max-width: $screen-sm-min) {
      a {
        display: block;
      }
    }
    img {
      max-height: 60px;
      margin: auto;
    }

  }

  .body {
    @extend .col-sm-6;
    @extend .col-sm-offset-3;
    text-align: center;
    @media (max-width: $screen-sm-min) {
      h2 {
        text-align: center;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

}

footer.footer {
  background-color: #333;
  @include gradient-directional($start-color: #333, $end-color: black, $deg: 140deg);
  box-shadow: 0 2px 2px black inset;

  color: white;
  padding-top: 2em;
  padding-bottom: 2em;

  .made_in_bk {
    @extend .col-sm-6;
    @extend .col-sm-pull-6;
    h3 {
      margin-top: 1em;
      margin-bottom: 1em;
      @media (max-width: $screen-md-min) {
        text-align: center;
      }
    }
  }

  .social {
    @extend .col-sm-6;
    @extend .col-sm-push-6;
    text-align: right;
    margin-top: 1em;
    span {
      margin-left: 6px;
      margin-right: 6px;
    }
    @media (max-width: $screen-md-min) {
      text-align: center;
      span {
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }

  @media (min-width: $screen-md-min) {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

img.left_float {
  float: left;
  margin: 1em;
}

pre { 
  // background: black;
}
pre .hljs {
  background: transparent !important;
  // color: #f8f8f8 !important;
}

h1[id], h2[id] {
  padding-top: $navbar-height + 10;
  margin-top: -$navbar-height - 10;
}

div#top {
  padding-top: $navbar-height;
  // margin-top: $navbar-height;
}

.diagram_right {
  @media (min-width: $screen-sm-min ) {
    float: right;
  }
}