// @import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
// @import url(http://fonts.googleapis.com/css?family=Lustria);
// @import url(http://fonts.googleapis.com/css?family=Open+Sans);
// @import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700);
// @import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Cardo);


@font-face {
  font-family: 'CooperHewitt';
  src: font-url('CooperHewitt-Book.eot?#iefix', font) format('embedded-opentype'),
       font-url('CooperHewitt-Book.woff', font) format('woff'),
       font-url('CooperHewitt-Book.ttf', font)  format('truetype'),
       font-url('CooperHewitt-Book.svg#Icomoon', font) format('svg');
}

@font-face {
  font-family: 'CooperHewitt';
  font-weight: bold;
  src: font-url('CooperHewitt-Medium.eot?#iefix', font) format('embedded-opentype'),
       font-url('CooperHewitt-Medium.woff', font) format('woff'),
       font-url('CooperHewitt-Medium.ttf', font)  format('truetype'),
       font-url('CooperHewitt-Medium.svg#Icomoon', font) format('svg');
}

@font-face {
  font-family: 'CooperHewitt';
  font-style: italic;
  src: font-url('CooperHewitt-BookItalic.eot?#iefix', font) format('embedded-opentype'),
       font-url('CooperHewitt-BookItalic.woff', font) format('woff'),
       font-url('CooperHewitt-BookItalic.ttf', font)  format('truetype'),
       font-url('CooperHewitt-BookItalic.svg#Icomoon', font) format('svg');
}


// $font-family-base: 'Lustria', Georgia, "Times New Roman", Times, serif;
$font-family-base: 'Cardo', 'Noto Serif', Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Inconsolata, Menlo, Monaco, Consolas, "Courier New", monospace;
$headings-font-family: "CooperHewitt", "Helvetica Neue", Helvetica, Arial, sans-serif;
