@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  @apply pb-4;
}
.main h1 {
  @apply font-bold py-4 text-5xl;
}

.main p {
  @apply py-2 text-lg;
}

.main p a, .content p a {
  @apply underline hover:text-blue-600 hover:no-underline;
}

.main td {
  @apply pb-4;
}
.main td {
  @apply align-top;
}

.main td a {
  @apply font-semibold hover:text-blue-600 hover:no-underline;
}
.howto h2 {
  @apply font-bold pt-6 pb-2 text-xl;
}

.howto h3 {
  @apply font-bold pt-6 pb-2 text-lg;
}

.howto p {
  @apply max-w-lg leading-relaxed;
}

.howto p + p {
  @apply pt-4;
}

.howto hr {
  display: none;
}
.howto blockquote {
  @apply m-4 italic text-slate-700;
}

.howto .highlight {
  @apply py-4 overflow-auto -mx-4 md:mx-0;
}

.howto .src {
  @apply mt-2 mb-4 overflow-auto -mx-4 md:mx-0;
}

.howto ol {
  @apply list-disc py-2 list-inside md:list-outside max-w-lg;
}

.howto ul {
  @apply list-decimal py-2 list-inside md:list-outside max-w-lg;
}

.howto ol ul {
  @apply ml-4;
}

.howto .toc {
  @apply text-lg;
}

.howto .toc ul {
  @apply list-disc md:list-none md:list-inside;
}

.howto .toc li {
  @apply pb-2;
}

.howto .toc ul ul {
  @apply ml-4;
}

.howto .toc ul ul li {
  @apply text-gray-500;
}

.howto .table {
  @apply max-w-lg w-full my-4;
}

.howto .table .align-right {
  @apply text-right;
}
.howto .table tr td {
  @apply p-2;
}

.howto .table tr:nth-of-type(odd) {
  @apply bg-slate-50 border-b-2 border-b-slate-100 border-r-2 border-r-slate-100;
}

ul.pagination {
  @apply  text-center;
}

.pagination li {
  @apply inline mx-2;
}

hr {
    @apply text-slate-300 border-t border-slate-300 text-center overflow-visible my-6;
}

hr:after {
    @apply text-slate-300 inline-block relative font-light bg-white px-2;
    content: "§";
    top: -0.9em;
/*    font-size: 1.5em;
    padding: 0 0.25em;
    background: white; */
}
