{{ define "main" }}
{{ .Content }}

{{ range .Pages }}

<article>
  <header>
    <div class="meta">
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </div>

    <div class="front-matter">
      <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
      {{ if .Params.Subtitle }}
      <h2>{{ .Params.Subtitle | markdownify }}</h2>
      {{ end }}

      <ul class="tags">
        {{ range .Params.tags }}
        <li>
          <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </header>

  <section>
    {{ .Content }}
  </section>

</article>


{{ end }}


{{ end }}
