/* @link https://utopia.fyi/type/calculator?c=400,18,1.618,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

    :root {
      --step--2: clamp(0.4297rem, 0.2534rem + 0.7053cqi, 0.8rem);
      --step--1: clamp(0.6953rem, 0.5502rem + 0.5804cqi, 1rem);
      --step-0: clamp(1.125rem, 1.0655rem + 0.2381cqi, 1.25rem);
      --step-1: clamp(1.5625rem, 1.943rem + -0.491cqi, 1.8203rem);
      --step-2: clamp(1.9531rem, 3.4176rem + -1.8896cqi, 2.9452rem);
      --step-3: clamp(2.4414rem, 5.8719rem + -4.4264cqi, 4.7653rem);
      --step-4: clamp(3.0518rem, 9.9285rem + -8.8733cqi, 7.7102rem);
      --step-5: clamp(3.8147rem, 16.5991rem + -16.4961cqi, 12.4751rem);
    }

    /* @link https://utopia.fyi/space/calculator?c=400,18,1.618,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  :root {
    --space-3xs: clamp(0.3125rem, 0.3125rem + 0cqi, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5327rem + 0.119cqi, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8452rem + 0.119cqi, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0655rem + 0.2381cqi, 1.25rem);
    --space-m: clamp(1.6875rem, 1.5982rem + 0.3571cqi, 1.875rem);
    --space-l: clamp(2.25rem, 2.131rem + 0.4762cqi, 2.5rem);
    --space-xl: clamp(3.375rem, 3.1964rem + 0.7143cqi, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.2619rem + 0.9524cqi, 5rem);
    --space-3xl: clamp(6.75rem, 6.3929rem + 1.4286cqi, 7.5rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.3125rem, 0.1637rem + 0.5952cqi, 0.625rem);
    --space-2xs-xs: clamp(0.5625rem, 0.3839rem + 0.7143cqi, 0.9375rem);
    --space-xs-s: clamp(0.875rem, 0.6964rem + 0.7143cqi, 1.25rem);
    --space-s-m: clamp(1.125rem, 0.7679rem + 1.4286cqi, 1.875rem);
    --space-m-l: clamp(1.6875rem, 1.3006rem + 1.5476cqi, 2.5rem);
    --space-l-xl: clamp(2.25rem, 1.5357rem + 2.8571cqi, 3.75rem);
    --space-xl-2xl: clamp(3.375rem, 2.6012rem + 3.0952cqi, 5rem);
    --space-2xl-3xl: clamp(4.5rem, 3.0714rem + 5.7143cqi, 7.5rem);

    /* Custom pairs */
    --space-s-l: clamp(1.125rem, 0.4702rem + 2.619cqi, 2.5rem);
  }


  /* @link https://utopia.fyi/grid/calculator?c=400,18,1.618,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --grid-max-width: 77.50rem;
  --grid-gutter: var(--space-s-l, clamp(1.125rem, 0.4702rem + 2.619vw, 2.5rem));
  --grid-columns: 12;
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}
