!!! 5
%html.no-js{ "ng-app" => "blogAdmin" }
  %head
    %meta{ :charset => 'utf-8' }/
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }/

    %title= config.author
    %meta{ :name => 'description', :content => '' }/
    %meta{ :name => 'viewport', :content => 'width=device-width' }
    %script{ src: "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" }
    %script{:src=>"//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"}
    %script{ src: "//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js" }
    %script{ src: "//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-route.min.js" }
    = javascript_include_tag 'bootstrap', 'admin/admin'
    = stylesheet_link_tag 'admin', 'socicons', "animate"
    %link{ rel: "stylesheet", href: "//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/default.min.css" }

  %body
    .container.content{ "ng-controller" => "blogCtrl" }
      .row
        .col-sm-4
          %h1 Drafts
          %ul.nav.nav-stacked
            %li{ "ng-repeat" => "draft in drafts", "ng-click" => "selectDraft(draft);" }
              {{ draft.title }}

        .col-sm-4
          %h1 Published
          %ul.nav.nav-stacked
            %li{ "ng-repeat" => "post in published", "ng-click" => "selectPost(post);" }
              {{ post.title }}
      .row
        %textarea{{ "ng-model" => "raw" }}