/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.6944rem, 0.6021rem + 0.4618vw, 0.96rem);
  --step--1: clamp(0.8333rem, 0.7058rem + 0.6377vw, 1.2rem);
  --step-0: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
  --step-1: clamp(1.2rem, 0.9652rem + 1.1739vw, 1.875rem);
  --step-2: clamp(1.44rem, 1.1257rem + 1.5717vw, 2.3438rem);
  --step-3: clamp(1.728rem, 1.31rem + 2.0899vw, 2.9297rem);
  --step-4: clamp(2.0736rem, 1.5211rem + 2.7626vw, 3.6621rem);
  --step-5: clamp(2.4883rem, 1.7616rem + 3.6336vw, 4.5776rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,12,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.1875rem, 0.144rem + 0.2174vw, 0.3125rem);
  --space-2xs: clamp(0.375rem, 0.288rem + 0.4348vw, 0.625rem);
  --space-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --space-s: clamp(0.75rem, 0.5761rem + 0.8696vw, 1.25rem);
  --space-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --space-l: clamp(1.5rem, 1.1522rem + 1.7391vw, 2.5rem);
  --space-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --space-2xl: clamp(3rem, 2.3043rem + 3.4783vw, 5rem);
  --space-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.1875rem, 0.0353rem + 0.7609vw, 0.625rem);
  --space-2xs-xs: clamp(0.375rem, 0.1793rem + 0.9783vw, 0.9375rem);
  --space-xs-s: clamp(0.5625rem, 0.3234rem + 1.1957vw, 1.25rem);
  --space-s-m: clamp(0.75rem, 0.3587rem + 1.9565vw, 1.875rem);
  --space-m-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
  --space-l-xl: clamp(1.5rem, 0.7174rem + 3.913vw, 3.75rem);
  --space-xl-2xl: clamp(2.25rem, 1.2935rem + 4.7826vw, 5rem);
  --space-2xl-3xl: clamp(3rem, 1.4348rem + 7.8261vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(0.75rem, 0.1413rem + 3.0435vw, 2.5rem);
}

/* colors */

:root {
    --primary-color-lighter: hsl( 210, 100%, 95% );
    --primary-color-light: hsl( 210, 100%, 70% );
    --primary-color: hsl( 210, 100%, 50% );
    --primary-color-dark: hsl( 210, 100%, 30% );
    --primary-color-darker: hsl( 210, 100%, 15% );
    
}

/* Theme defaults */

/* https://github.com/system-fonts/modern-font-stacks?tab=readme-ov-file#neo-grotesque */

:root {
    --main-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    --mono-font-family: Hack, monospace;
    --background: var( --primary-color-lighter );
    --text-color: var( --primary-color-darker );
    --diminished-text-color: var( --primary-color-dark );
}
