/* @link https://utopia.fyi/type/calculator?c=400,16,1.333,1240,26,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --step--2: clamp(0.5628rem, 0.2934rem + 1.0775vw, 1.1285rem);
    --step--1: clamp(0.7502rem, 0.4626rem + 1.1504vw, 1.3542rem);
    --step-0: clamp(1rem, 0.7024rem + 1.1905vw, 1.625rem);
    --step-1: clamp(1.333rem, 1.0392rem + 1.1752vw, 1.95rem);
    --step-2: clamp(1.7769rem, 1.5087rem + 1.0726vw, 2.34rem);
    --step-3: clamp(2.3686rem, 2.1594rem + 0.837vw, 2.808rem);
    --step-4: clamp(3.1573rem, 3.0563rem + 0.4043vw, 3.3696rem);
    --step-5: clamp(4.0435rem, 4.2874rem + -0.3147vw, 4.2087rem);
}

/* @link https://utopia.fyi/space/calculator?c=400,16,1.333,1240,26,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --space-3xs: clamp(0.25rem, 0.1607rem + 0.3571vw, 0.4375rem);
    --space-2xs: clamp(0.5rem, 0.3512rem + 0.5952vw, 0.8125rem);
    --space-xs: clamp(0.75rem, 0.5119rem + 0.9524vw, 1.25rem);
    --space-s: clamp(1rem, 0.7024rem + 1.1905vw, 1.625rem);
    --space-m: clamp(1.5rem, 1.0536rem + 1.7857vw, 2.4375rem);
    --space-l: clamp(2rem, 1.4048rem + 2.381vw, 3.25rem);
    --space-xl: clamp(3rem, 2.1071rem + 3.5714vw, 4.875rem);
    --space-2xl: clamp(4rem, 2.8095rem + 4.7619vw, 6.5rem);
    --space-3xl: clamp(6rem, 4.2143rem + 7.1429vw, 9.75rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, -0.0179rem + 1.0714vw, 0.8125rem);
    --space-2xs-xs: clamp(0.5rem, 0.1429rem + 1.4286vw, 1.25rem);
    --space-xs-s: clamp(0.75rem, 0.3333rem + 1.6667vw, 1.625rem);
    --space-s-m: clamp(1rem, 0.3155rem + 2.7381vw, 2.4375rem);
    --space-m-l: clamp(1.5rem, 0.6667rem + 3.3333vw, 3.25rem);
    --space-l-xl: clamp(2rem, 0.631rem + 5.4762vw, 4.875rem);
    --space-xl-2xl: clamp(3rem, 1.3333rem + 6.6667vw, 6.5rem);
    --space-2xl-3xl: clamp(4rem, 1.2619rem + 10.9524vw, 9.75rem);

    /* Custom pairs */
    --space-s-l: clamp(1rem, -0.0714rem + 4.2857vw, 3.25rem);
}

:root {
    --sl-font-2x-small: var( --step--2);
    --sl-font-x-small: var( --step--1 );
    --sl-font-small: var( --step-0 );
    --sl-font-medium: var( --step-1 );
    --sl-font-large: var( --step-2 );
    --sl-font-x-large: var( --step-3 );
    --sl-font-2x-large: var( --step-4 );
    --sl-font-3x-large: var( --step-5 );
}

:root {
    --text-color: var( --sl-color-primary-900 );
    --link-color: var( --sl-color-primary-600 );
    --diminished-text-color: var( --sl-color-amber-500 );
    --header-color: var( --sl-color-amber-900 );
    --background: var( --sl-color-amber-50 );
    
    --footer-background: var( --sl-color-amber-900 );
    --footer-text: var( --sl-color-amber-50 );
}

/*
    :root {
    --primary-color-lighter: hsl( 210, 100%, 95% );
    --primary-color-light: hsl( 210, 100%, 70% );
    --primary-color: hsl( 210, 100%, 50% );
    --primary-color-dark: hsl( 210, 100%, 30% );
    --primary-color-darker: hsl( 210, 100%, 15% );
    
}*/

/* Theme defaults */


:root {
    --main-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    --mono-font-family: Hack, monospace;
    --background: var( --primary-color-lighter );
    --text-color: var( --primary-color-darker );
    --diminished-text-color: var( --primary-color-dark );
}
