/* Theme defaults */

:root {
    --main-font-family: "Fraunces", system-ui;
    --sl-font-sans: var( --main-font-family );
    --background: #fafaf9;
    --text-color: #451a03;
    --header-color: #032e45;
    --diminished-text-color: #78716c;

    --footer-background: var( --text-color );
    --footer-text: var( --background );
}


