/* Theme defaults */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
    --main-font-family: "Fraunces", system-ui;
    --background: #fafaf9;
    --text-color: #451a03;
    --header-color: #032e45;
    --diminished-text-color: #78716c;
}


