*,:before,:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var( --main-font-family );
    font-weight: normal;
    padding: 0;
    background-color: var( --background );
    color: var( --text-color );
    min-height: 100vh;
    text-rendering: optimizespeed;
}

header {
    padding-left: var(--space-s);
    padding-right: var(--space-s);
}


/* Typography */

h1 {
    color: var( --header-color );
    font-size: var(--step-4);
    letter-spacing: -0.005em;
}

h2 {
    color: var( --header-color );
    font-size: var(--step-3);
    letter-spacing: -0.005em;
}

h3 {
    color: var( --header-color );
    font-size: var(--step-2);
    letter-spacing: -0.005em;
}

p {
    font-size: var(--step-0);
    line-height: var(--step-2);
}

code, pre {
    font-family: var( --mono-font-family );
    font-size: var(--step-0);
    padding:  var(--space-m) 0;
    overflow-x: scroll;
}

a:hover { text-decoration: underline; }

#search {
    max-width: 1000px;
    margin: 0 auto;

    &.hidden {
        display: none;
    }
}
