header.main {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: end;
    justify-content: space-between;


    ul {
        padding: 0;
        margin: 0;
        display: flex;
        width: 100%;
        list-style-type: none;

        li {
            display: inline-flex;
            margin-left: var(--space-xs-s);

            a{
                color: var( --text-color );
                font-size: var( --step-0 );
            }
        }
    }

    a {
        color: var( --header-color );
        text-decoration: none;
        font-weight: normal;
        font-size: var( --step-2);
        line-height: var(--step-2);
    }

    a:hover {
        text-decoration: underline;
    }

    @media (max-width: 700px) {
        padding-top: var(--space-m);
        display: block;
        padding-bottom: var(--space-m);


        ul {
            flex-wrap: wrap;
            li {
                margin-top: var( --space-s );
                margin-left: 0;
                margin-right: var(--space-xs-s);
                flex-wrap: wrap;
            }
        }
    }
}
