header.body {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: var( --space-m-l );
    padding-bottom: var( --space-m-l );

    
    ul {
        font-size: var( --sl-font-large );
/*        margin: 0 var( --space-s); */
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        
        li {
            list-style-type: none;

            a:not(:only-child) {
                display: none;
            }

            li {
                margin-left: var( --space-s );
                font-size: var( --sl-font-medium );
                a:only-child {
                    display: inline;
                    font-size: var( --sl-font-medium );
                }
                
            }
        }

        a {
            color: var( --header-color );
            font-size: var(--sl-font-x-large);
            font-weight: 700;
        }

    }

    @media (max-width: 1200px ) {
        margin: 0 var(--space-s);
        
        ul {
            display: block;
            
            ul {
                display: block;
                margin: var(--space-s) 0;
                
                li {
                    display: inline;
                    margin-left: 0;
                    margin-right: var( --space-s );
                    
                }
            }
        }
    }
}


