.articles main article,
.howto main article,
.labnotes main article,
.posts main article,
.fragments main article {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 var( --space-s );

      img {
          max-width: 100%;
      }
      
      header {
          .section {
              font-size: var( --sl-font-small );
              color: var( --diminished-text-color );
              text-transform: uppercase;
              font-weight: bold;

              display: flex;
              justify-content: space-between;
              time {
                  font-weight: 300;
                  letter-spacing: 0.03em;
                  font-size: smaller;
              }
          }

          h1 {
/*              line-height: var(--sl-font-x-large); */
              margin-top: var(--space-xl);
              margin-bottom: var(--space-s);
              padding: 0;
              color: var( --text-color );
          }

          h2 {
              font-size: var( --sl-font-large );
              color: var( --diminished-text-color );
          }


          dl {
              font-size: var( --sl-font-medium );
              color: var( --header-font );
              dt {
                  font-weight: bold;
                  display: inline;
              }
              dd {
                  display: inline;
                  margin-left: 10px;
              }
          }

      }

      section {
          display: flex;

          .toc {
              order: 2;

              border-left: 1px var(--text-color) solid;
              padding-left: var(--space-s);
              margin-left: var(--space-s);
              height: fit-content;
              position: sticky;
              top: 20px;
              
              h3 {
                  font-size: var(--sl-font-medium );
                  color: var( --diminished-text-color );
              }

              ul {
                  margin: 0;
                  padding: 0;
                  font-size: var( --sl-font-small );
                  
                  li {
                      list-style-type: none;

                      li {
                          margin-left: var( --space-s);
                          }
                  }
              }
          }

          .prose {
              max-width: 65ch;
              order: 1;
              overflow-x: scroll;

              font-size: var(--sl-font-medium);
              line-height: calc(var(--sl-font-medium)* 1.4);
              margin: 0;

              /*p:first-child {
                  font-size: var(--sl-font-large );
                  line-height: calc(var(--sl-font-large)* 1.4);
                  margin-top: 0;
              }*/

              div div {
                  line-height: var(--sl-font-medium );
                  overflow-x: scroll;
              }

              h1, h2, h3, h4 {
                  padding-top: var(--space-l );
                  padding-bottom: var( --space-s );
              }

              li {
                  padding-bottom: var( --space-s );
              }

              a {
                  text-decoration: underline;
              }
          }
              

          @media (max-width: 800px ) {
              display: block;

              .toc {
                  border: 0;
                  padding: 0;
                  margin: 0;
                  position: relative;
                  top: auto;
              }
          }
      }

      section:has(.post) {
          display: block;

          .post {
              .section {
                  margin-top: var( --space-s-m);
                  font-size: var( --sl-font-small );
                  color: var( --diminished-text-color );
                  text-transform: uppercase;
                  font-weight: bold;
                  
                  display: flex;
                  justify-content: space-between;
                  time {
                      font-weight: 300;
                      letter-spacing: 0.03em;
                      font-size: smaller;
                  }
              }

              h2 {
                  font-size:  var(--sl-font-large);
                  line-height: var(--sl-font-large);
                  margin-top: var(--space-xs);
                  padding: 0;
                  a {
                      color: var( --header-text-color );
                  }
              }

              h3 {
                  font-size: var( --sl-font-medium );
                  line-height: var( --sl-font-medium );
                  color: var( --diminished-text-color );
              }
              
              
              dl {
                  font-size: var( --sl-font-medium );
                  color: var( --header-font );
                  dt {
                      font-weight: bold;
                      display: inline;
                  }
                  dd {
                      display: inline;
                      margin-left: 0;
                  }
              }
          }
      }
  }
