/* article layout */
main {
    margin: 0 auto;
    max-width: 1000px;

    section {
        max-width: 65ch;
    }

    section.center {
        margin: 0 auto;
    }
    
    img {
        max-width: 100%;
    }

    article {
        @media (min-width: 65ch) {
            .src {
                width: calc(100vw);
                margin-left: clamp(-999px, calc((100vw - 1000px )/-2), 0px);
                padding-left: clamp( 0px, calc((100vw - 1000px )/2), 120px );
            }
        }

        @media (max-width: 100px) {
            pre.example, .src {
                width: calc( 100vw - (1000px - 100vw) );
            }
        }

        @media (max-width: 1000px) {
            pre.example, .src {
                width: calc( 100vw);
            }
        }
        
        .src {
            background: #ddd;
            background: rgb(35, 33, 54);
            overflow-x: scroll;
        }

        header {
            .meta {
                display: flex;
                justify-content: space-between;

                h3 {
                    color: var( --diminished-text-color );
                    text-transform: uppercase;
                    font-size: var( --step--1 );

                    a {
                        color: var( --diminished-text-color );
                        text-decoration: none;
                    }
                        
                }
                
                time {
                    color: var(--diminished-text-color);
                    font-size: var(--step--1);
                    text-transform: uppercase;
                }

                @media (max-width: 700px) {
                    flex-direction: column-reverse;
                }

            }

            h1 {
                margin: 0;
                font-weight: normal;
            }

            h2 {
                margin-top: 0;
                color: var( --diminished-text-color );
                font-size: var( --step-1 );
                font-weight: normal;
            }
        }
    

        ul.tags {
            padding: 0;
            margin: var( --space-m ) 0;
            display: flex;
            list-style-type: none;
            li {
                display: inline-flex;
                margin-right: var( --space-s );
                a {
                    border: 1px solid var( --diminished-text-color );
                    border-radius: 4px;
                    background: var( --diminished-text-color );
                    color: var( --background );
                    text-decoration: none;
                    padding: 0 .5em;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
        
        .toc {
            margin-bottom: var( --space-m );
            
            h3 {
                margin-bottom: 0;
            }

            ul {
                margin-left: var( --space-m );
                list-style-type: none;
                li {
                    margin-top: var( --space-2xs );

                    a {
                        color: var( --diminished-text-color );
                        text-decoration: none;
                        font-size: var(--step-0);
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    section {
        h2, h3 {
            margin-top: var( --space-m );
            margin-bottom: var( --space-s);
            margin-left: var( --space-m );
            margin-right: var( --space-m );
        }

        p {
            margin-top: var( --space-s );
            margin-bottom: var( --space-s );
            margin-left: var( --space-m );
            margin-right: var( --space-m );
        }

        ul,ol {
            font-size: var( --step-0 );
            line-height: var(--step-2);
            margin-left: var( --space-m );
            margin-right: var( --space-m );
        }
    }


    table.table {
        width: 100%;
    }

    .forward-back {
        margin-top: var(--space-3xl );
        
        .post {

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            a.section {
                text-transform: uppercase;
                color: var(--diminished-text-color );
                display: block;
            }
            
            a.post {
                display: flex;
                color: var(--header-color);
                justify-content: space-between;
                margin-top: 0;
                margin-bottom: var(--space-s);

                p { margin-top: 0;}

                time {
                    font-size: var(--step-0);
                    line-height: var(--step-2);
                }
                
                span {
                    display: block;
                    color: var( --diminished-text-color );
                    line-height: var(--step-1);
                    font-size: var( --step--1);
                }

            }
        }
    }
}
