footer.body {
    background: var( --footer-background );
    color: var( --footer-text );
    
    nav {
        max-width: 1200px;
        margin: 0 auto;
        padding: var( --space-m-l ) 0;
        
        ul {
            display: flex;
            justify-content: space-around;
            padding: 0;
            
            li {
                list-style-type: none;
                
                ul {
                    display: block;
                }
            }
        }
    }
    

    dl {
        max-width: 65ch;
        margin: 0 auto;
        display: grid;
        grid-gap: 4px 16px;
        grid-template-columns: max-content;
        overflow: hidden;
        
        dt {
            font-weight: bold;
        }
        dd {
            margin: 0;
            grid-column-start: 2;
        }
    }
}
