footer {
    min-height: 100px;
    background: var(--text-color);
    color: var(--background);
    padding-top: var(--space-3xl );
    padding-bottom: var(--space-3xl );
    margin-left: -16px;
    margin-bottom: -16px;
    padding-left: var( --space-m );
    padding-right: var( --space-m );
    width: calc( 100vw + 16px);
    overflow: hidden;
    
    nav {
        max-width: 65ch;
        margin: 0 auto;
        ul {
            display: flex;
            justify-content: space-around;
                             

            list-style-type: none;

            li {
                font-size: var(--step-1);

                a {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }

                    &:visited {
                        color: var(--background);
                    }
                }
            }
        }
    }

    dl {
        max-width: 65ch;
        margin: 0 auto;
        display: grid;
        grid-gap: 4px 16px;
        grid-template-columns: max-content;
        
        dt {
            font-weight: bold;
        }
        dd {
            margin: 0;
            grid-column-start: 2;
        }
    }
}
