.home {
    section {
        clear: both;
        padding: 0 var(--space-s );
        
        &.jumbo {
            align-items: center;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            min-height: calc(100vh - var(--sl-font-large) -(var(--space-m-l)* 2));

            img {
                float: left;
                max-width: 300px;
                margin-right: var( --space-l);
                border-radius: 10px;
                position: relative;

                box-shadow: 1.0px 1.9px 1.9px hsl(0deg 0% 0% / 0.47);
                transition: all 0.3s ease-in-out; 

                &:hover {
                    margin-left: -15px;
                    margin-top: -15px;
                    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
                }

                @media (max-width: 800px ) {
                    float: none;
                    display:block;
                    margin: 0 auto;
                }
            }

            p {
                margin-top: 0;
            }

            div {
                max-width: 1200px;
            }
        }

        &.fragments {
            max-width: 800px;
            padding-top: var( --space-m-l);
            margin: 0 auto;

            p a {
                text-decoration: underline;
            }

            img {
                max-width: 100%;
            }
                             
            header {
                display: flex;
                
                justify-content: space-between;
                align-items: baseline;


                h2 {
                    order: 1;
                    color: var( --heading-color );
                }
                
                p {
                    order: 2;
                    padding: 0;
                    margin: 0;
                    text-transform: uppercase;
                    color: var(--diminished-text-color);
                    font-size: var( --sl-font-x-small );

                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
