.home {
    padding-bottom: var(--space-xl);

    article {
        margin-bottom: var(--space-l);
        
        .meta {
            h3 {
                a {
                    font-size: var( --step--1 );
                    color: var( --diminished-text-color );

                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .content {
            max-width: 65ch;
            overflow-x: scroll;
            padding: 0 var(--space-s);

            p {
                margin-bottom: var( --space-s );
            }
            h3 {
                color: var( --diminished-text-color );
                font-size: var( --step-1 );
            }

            h2, h3 {
                a {
                    color: var( --header-color );
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            
            a.content_link {
                    border: 1px solid var( --diminished-text-color );
                    border-radius: 4px;
                    background: var( --diminished-text-color );
                    color: var( --background );
                    text-decoration: none;
                    padding: 0 .5em;
                }

                a:hover {
                    text-decoration: underline;
                }

        }


        @media (min-width: 1000px) {
            display: flex;

            .meta {
                min-width: calc((1000px - 65ch) / 2);
                text-align: right;
                margin-right: var( --space-s );

            }
            
            .content {
                min-width: 65ch;
            }
        }
    }
}
