body.tags {
    main {
        max-width: 65ch;
        margin: var( --space-s)  auto;
        

        h1 {
            text-align: center;
        }

        dl {
            margin-top: var( --space-s-m );
            font-size: var( --step-1);
            max-width: 65ch;
            display: grid;
            grid-gap: 4px 16px;
            grid-template-columns: max-content;
            
            dt {
                font-weight: bold;
            }
            dd {
                margin: 0;
                grid-column-start: 2;
            }
        }

        a {
            color: var( --text-color );
            text-decoration: none;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
