.fragments {
    h1 {
        a {
            color: var( --header-color );
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    article {
        margin-top: var( --space-xl );
    }
}
       
