.section.fragments {

    main {
        max-width: 1000px;
        margin: 0 auto;
        
        h1 {
            a {
                color: var( --header-color );
                text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }


        article {
            margin: 0;
            padding: 0;

            section {
                display: block;
            }

            h2 {
                font-size: var( --sl-font-x-large );
                color: var(--header-color);
            }

            h3 {
                font-size: var( --sl-font-large );
            }
        }
    }
}
       
