*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: normal;
    }

main {
    max-width: 1000px;
    margin: 0 auto;
}
