{{ define "main" }}

{{ template "_internal/pagination.html" . }}

{{ range .Paginator.Pages }}
<div class="p-2 mx-auto max-w-prose mb-10">
  <p class="mt-2">
    <a class="text-gray-500 text-sm" href="{{ .Permalink }}">
      {{ .Date | time.Format ":date_long" }}
      {{ .Date | time.Format ":time_short" }}
    </a>
  </p>

  <h2 class="text-2xl font-bold mb-4"><a  href="{{ .Permalink }}">{{ .Title }}</a></h2>

  <div class="prose">
    {{ .Content }}
  </div>
  
</div>

{{ end }}

{{ template "_internal/pagination.html" . }}

{{ end }}
