{{ define "main" }}

<div class="p-2 prose mx-auto">
  <p class="not-prose mb-0">
    <a class="text-gray-500 text-sm" href="{{ .Permalink }}">
      {{ .Date | time.Format ":date_long" }}
      {{ .Date | time.Format ":time_short" }}
    </a>
  </p>
  
  <h2 class="mt-0">{{ .Title }}</h2>

  {{ .Content }}

</div>

<div class="pt-8 max-w-prose mx-auto px-2">

  {{ if .PrevInSection }}
  <p class="uppercase text-gray-500 text-sm my=0">Previously</p>

  <p class="my-0">
    <a class="" href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a>
  </p>
  {{ end }}

  {{ if .NextInSection }}
  <p class="uppercase text-gray-500 text-sm my=0">Next</p>

  <p class="my-0">
    <a class="" href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a>
  </p>
  {{ end }}
</div>

<div class="pt-8 max-w-prose mx-auto px-2">

  {{ if .Prev }}
  <p class="uppercase text-gray-500 text-sm">Previously</p>
  <a class="flex block w-full mb-2" href="{{ .Prev.RelPermalink }}">
    <span class="hidden md:inline text-gray-500 flex-none w-[10ch]">{{ .Prev.Section }}</span>
    <p class="inline">
      {{ .Prev.Title | markdownify }}
      <span class="block md:hidden text-sm text-gray-600">{{ .Prev.Params.Subtitle | markdownify }}</span>
    </p>
    <span class="grow hidden md:inline ml-2 px-2 border-gray border-b border-dotted text-sm text-gray-600">{{.Prev.Params.Subtitle | markdownify }}</span>
    <span class="grow inline md:hidden"></span>
    <span>{{ .Prev.Date.Format "2006-01-02" }}</span>
  </a>
  {{ end }}
  

  {{ if .Next }}
  <p class="uppercase text-gray-500 text-sm">Next</p>
  <a class="flex block w-full mb-2" href="{{ .Next.RelPermalink }}">
    <span class="hidden md:inline text-gray-500 flex-none w-[10ch]">{{ .Next.Section }}</span>
    <p class="inline">
      {{ .Next.Title | markdownify }}
      <span class="block md:hidden text-sm text-gray-600">{{ .Next.Params.Subtitle | markdownify }}</span>
    </p>
    <span class="grow hidden md:inline ml-2 px-2 border-gray border-b border-dotted text-sm text-gray-600">{{.Next.Params.Subtitle | markdownify }}</span>
    <span class="grow inline md:hidden"></span>
    <span>{{ .Next.Date.Format "2006-01-02" }}</span>
  </a>
  {{ end }}

</div>


<div class="pt-8 max-w-prose mx-auto px-2">
  {{ $dateFormat := default "Jan 2" (index .Site.Params "date_format") }}
  {{ $.Scratch.Set "lastYear" "" }}
  {{ $.Scratch.Set "lastMonth" "" }}
  {{ range ( where .Site.RegularPages.ByDate.Reverse "Section" "fragments" ) }}

  {{ $year := .Date.Year }}
  {{ $month := .Date.Month }}

  {{ $lastYear := $.Scratch.Get "lastYear"}}
  {{ $lastMonth := $.Scratch.Get "lastMonth"}}
  {{ if eq $lastYear "" }}
    <h3 class="text-lg text-body text-right font-bold pt-t pb-2 text-center">{{ $month }} {{ $year }}</h3>
  {{ else }}
    {{ if ne $year $lastYear }}
      <h3 class="text-xl font-bold py-4 text-center">{{ $year }}</h3>
    {{ end }}

    {{ if ne $month $lastMonth }}
      <h3 class="text-lg text-bold text-right font-bold pt-4 pb-2">{{ $month }}</h3>
    {{ end }}
  {{ end }}

  {{ $.Scratch.Set "lastYear" $year }}
  {{ $.Scratch.Set "lastMonth" $month }}

      <a class="flex block w-full mb-2" href="{{ .RelPermalink }}">
        <p class="inline">
          {{ if .Draft }}DRAFT: {{end}}{{.Title | markdownify}}
          <span class="block md:hidden text-sm text-gray-600">{{ .Params.Subtitle | markdownify }}</span>
        </p>
        <span class="grow hidden md:inline ml-2 px-2 border-gray border-b border-dotted text-sm text-gray-600">{{ .Params.Subtitle | markdownify }}</span>
        <span class="grow inline md:hidden"></span>
        <span>{{ humanize .Date.Day }}</span>
      </a>

      {{ end }}
</div>
{{ end }}
