{{ define "main" }}
<section class="container page-list">
  <h1>{{ .Title }}</h1>
  {{ with .Params.description }}<p class="section-description">{{ . }}</p>{{ end }}

  <ul class="post-list">
    {{ $.Scratch.Set "lastYear" "" }}
    {{ $.Scratch.Set "lastMonth" "" }}
    {{ range .Pages }}

    {{ $year := .Date.Year }}
    {{ $month := .Date.Month }}

    {{ $lastYear := $.Scratch.Get "lastYear" }}
    {{ $lastMonth := $.Scratch.Get "lastMonth" }}
    {{ if eq $lastYear "" }}
      <li class="year-heading">{{ $year }}</li>
      <li class="month-heading">{{ $month }}</li>
    {{ else }}
      {{ if ne $year $lastYear }}
        <li class="year-heading">{{ $year }}</li>
      {{ end }}
      {{ if ne $month $lastMonth }}
        <li class="month-heading">{{ $month }}</li>
      {{ end }}
    {{ end }}

    {{ $.Scratch.Set "lastYear" $year }}
    {{ $.Scratch.Set "lastMonth" $month }}

    <li>
      <a href="{{ .RelPermalink }}">
        <p>
          {{ if .Draft }}DRAFT: {{ end }}
          {{ .LinkTitle }}
          {{ with .Params.Subtitle }}
          <span class="subtitle">{{ . | markdownify }}</span>
          {{ end }}
        </p>
        <time>{{ humanize .Date.Day }}</time>
      </a>
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}
