{{ define "main" }}
<article class="single">
  <header>
    <div class="article-meta">
      <div>
        {{ partial "section-badge.html" . }}
      </div>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </div>

    {{ if .Draft }}<p class="draft-badge">DRAFT</p>{{ end }}
    <h1>{{ .Title }}</h1>
    {{ with .Params.Subtitle }}
    <p class="subtitle">{{ . | markdownify }}</p>
    {{ end }}

    {{ with .Params.tags }}
    <ul class="tags">
      {{ range . }}
      <li><a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </header>

  <hr class="decorative">

  <div class="article-body">
    <div class="prose">
      {{ .Content }}
    </div>

    {{ if and .TableOfContents (ne .Section "fragments") }}
    <aside class="toc" id="toc">
      <h3 class="toc-toggle" id="toc-toggle">Contents</h3>
      <nav>
        {{ .TableOfContents }}
      </nav>
    </aside>
    {{ end }}
  </div>

  <section class="forward-back">
    {{ with .Prev }}
    <div class="nav-post nav-prev">
      <div class="nav-label">Previously</div>
      <a href="{{ .RelPermalink }}">
        <div class="nav-title">{{ .Title }}</div>
      </a>
    </div>
    {{ else }}
    <div></div>
    {{ end }}

    {{ with .Next }}
    <div class="nav-post nav-next">
      <div class="nav-label">Next</div>
      <a href="{{ .RelPermalink }}">
        <div class="nav-title">{{ .Title }}</div>
      </a>
    </div>
    {{ else }}
    <div></div>
    {{ end }}
  </section>
</article>
{{ end }}
