{{ define "main" }}

{{ template "_internal/pagination.html" . }}

<table>
{{ range .Paginator.Pages }}
<tr>
  <td class="text-right pr-4 w-1/4 align-top pb-4">
    <p class="font-bold">{{ .Date.Format "2006-01-02" }}</p>
    <p class="text-gray-500">
      {{ .Params.type }}
      {{ if .Params.author }}
      from {{ .Params.author }}
      {{ end }}
    </p>


  </td>
  <td class="align-top pb-4">
    {{ $url := .Params.linkUrl }}
    {{ if not $url }}
    {{ $url = .Params.origin }}
    {{ end }}
    {{ if not $url }}
    {{ $url = .Params.alternate }}
    {{ end }}
    <a class="hover:underline font-bold" href="{{$url}}">{{.Title}}</a>
    {{ .Summary }}
  </td>
</tr>
{{ end }}
</table>

{{ template "_internal/pagination.html" . }}

{{ end }}