@font-face {
	font-family:'SpaceMono';
	src:	url('SpaceMono-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family:'SpaceMono';
	src:	url('SpaceMono-Regular.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family:'SpaceMono';
	src:	url('SpaceMono-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family:'SpaceMono';
	src:	url('SpaceMono-BoldItalic.ttf');
	font-weight: 700;
	font-style: italic;
}
