{{ define "main" }}
<div class="md:flex md:flex-wrap">
{{ .Scratch.Set "year" 2023 }}
{{ .Scratch.Set "stats" .Site.Data.year_stats_2023 }}
{{ partial "year_stats" .}}

{{ .Scratch.Set "year" 2022 }}
{{ .Scratch.Set "stats" .Site.Data.year_stats_2022 }}
{{ partial "year_stats" .}}

{{ .Scratch.Set "year" 2021 }}
{{ .Scratch.Set "stats" .Site.Data.year_stats_2021 }}
{{ partial "year_stats" .}}

{{ .Scratch.Set "year" 2020 }}
{{ .Scratch.Set "stats" .Site.Data.year_stats_2020 }}
{{ partial "year_stats" .}}

{{ .Scratch.Set "year" 2019 }}
{{ .Scratch.Set "stats" .Site.Data.year_stats_2019 }}
{{ partial "year_stats" .}}

{{ .Scratch.Set "year" 2018 }}
{{ .Scratch.Set "stats" .Site.Data.year_stats_2018 }}
{{ partial "year_stats" .}}

{{ .Scratch.Set "year" 2017 }}
{{ .Scratch.Set "stats" .Site.Data.year_stats_2017 }}
{{ partial "year_stats" .}}

{{ .Scratch.Set "year" 2016 }}
{{ .Scratch.Set "stats" .Site.Data.year_stats_2016 }}
{{ partial "year_stats" .}}

{{ .Scratch.Set "year" 2015 }}
{{ .Scratch.Set "stats" .Site.Data.year_stats_2015 }}
{{ partial "year_stats" .}}

{{ .Scratch.Set "year" 2014 }}
{{ .Scratch.Set "stats" .Site.Data.year_stats_2014 }}
{{ partial "year_stats" .}}
</div>
{{ end }}