{{ define "main" }}
{{ .Content }}

<div class="md:flex">
  <div>
    <h2 class="text-lg">Articles</h2>

    <table class="table-auto">
      {{ range first 5 (where .Site.RegularPages "Section" "articles") }}
      <tr>
        <td class="text-right align-top text-lg">{{ .Date.Format "Jan 2, 2006" }}</td>
        <td class="pl-4">
          <a class="text-lg" href="{{ .RelPermalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>

          {{ if .Params.Subtitle }}
            <p class=" text-gray-500 italic mr-2">{{ .Params.Subtitle | markdownify }}</p>
          {{ end }}
  
          {{ range .Params.tags }}
            <a class="text-slate-700" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </td>
      </tr>
      {{end }}
    </table>
  </div>

  <div>
    <h2 class="text-lg">Howto</h2>

    <table class="table-auto">
      {{ range first 5 (where .Site.RegularPages "Section" "howto") }}
      <tr>
        <td class="text-right align-top text-lg">{{ .Date.Format "Jan 2, 2006" }}</td>
        <td class="pl-4">
          <a class="text-lg" href="{{ .RelPermalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>

          {{ if .Params.Subtitle }}
            <p class=" text-gray-500 italic mr-2">{{ .Params.Subtitle | markdownify }}</p>
          {{ end }}
  
          {{ range .Params.tags }}
            <a class="text-slate-700" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </td>
      </tr>
      {{end }}
    </table>
  </div>

  <div>
    <h2 class="text-lg">Labnotes</h2>

    <table class="table-auto">
      {{ range first 5 (where .Site.RegularPages "Section" "labnotes") }}
      <tr>
        <td class="text-right align-top text-lg">{{ .Date.Format "Jan 2, 2006" }}</td>
        <td class="pl-4">
          <a class="text-lg" href="{{ .RelPermalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>

          {{ if .Params.Subtitle }}
            <p class=" text-gray-500 italic mr-2">{{ .Params.Subtitle | markdownify }}</p>
          {{ end }}
  
          {{ range .Params.tags }}
            <a class="text-slate-700" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </td>
      </tr>
      {{end }}
    </table>
  </div>
</div>
{{ end }}