{{ define "main" }}

<div class="main"> 
  <h1 class="text-center sm:text-left pl-4">{{ .Title }}</h1>
  <div class="md:flex">
  <div class="m-4">
    {{ $images := .Resources.Match "avatar.jpg" }}
    {{ $image := index $images 0 }}
    {{ $image := $image.Resize "1000x1000" }}
    <img class="u-photo max-w-full" src="{{ $image.RelPermalink }}" >
  </div>
  <div class="content px-2">
    {{ .Content }}
  </div>
</div>
</div>

<div class="w-full p-2">
  <h2 class="text-xl font-bold pb-4">Current Projects</h2>

  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 pb-4">
    {{ range .Site.Data.current_projects.projects }}
      <a class="block" href="{{.url}}">
        <p class="font-bold text-xl md:inline">{{ .name }}</p>
        <p class="inline">
        {{ .description }}
      </p>
      </a>
    {{ end }}
  </div>
</div>

<div class="md:flex">
  <div>
    <h2 class="text-xl font-bold pb-4"><a href="/top">Recent popular posts</a></h2>

    {{ $pages := dict }}
    {{ range .Site.RegularPages }}
      {{ $pages = merge $pages (dict .RelPermalink .)}}
      {{ $page := . }}
      {{ range .Aliases }}
        {{ $pages = merge $pages (dict . $page) }}
        {{ $concat := print . "/"}}
        {{ $pages = merge $pages (dict $concat $page) }}
      {{ end }}
    {{ end }}

    <table>
      {{ range .Site.Data.year_stats_rolling }}
        {{ $visitors := .visitors }}
        {{ with index $pages .page }}
          <tr>
            <td class="text-right align-top pr-2">
              <p class="text-lg">{{ .Date.Format "Jan 2, 2006" }}</p>
              <p class="text-sm text-gray-500">{{ $visitors }} visitors</p>

              </td>
            <td>
              <a class="text-lg" href="{{.RelPermalink}}">{{ .Title | markdownify }}</a>
            
              {{ if .Params.Subtitle }}
                <p class="text-gray-500 italic mr-2">
                  {{ .Params.Subtitle | markdownify }}
                </p>
              {{ end }}

              {{ range .Params.tags }}
                <a class="text-slate-700" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
              {{ end }}
            </td>
          </tr>
          {{ end }}
        {{ end }}
    </table>
  </div>

<!--  <div>
    <h2 class="text-xl font-bold pb-4">Elsewhere on the web</h2>
  </div>-->
</div>

<div class="md:flex">
  <div>
    <h2 class="text-xl font-semibold"><a href="/articles">Articles</a></h2>

    <table class="table-auto">
      {{ range first 5 (where .Site.RegularPages "Section" "articles") }}
      <tr>
        <td class="text-right align-top text-lg">{{ .Date.Format "Jan 2, 2006" }}</td>
        <td class="pl-4">
          <a class="text-lg" href="{{ .RelPermalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>

          {{ if .Params.Subtitle }}
            <p class=" text-gray-500 italic mr-2">{{ .Params.Subtitle | markdownify }}</p>
          {{ end }}
  
          {{ range .Params.tags }}
            <a class="text-slate-700" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </td>
      </tr>
      {{end }}
      <tr><td></td><td class="pl-4"><a href="/articles">More...</a></td></tr>
    </table>

  </div>

  <div>
    <h2 class="text-lg font-semibold"><a href="/howto">Howto</a></h2>

    <table class="table-auto">
      {{ range first 5 (where .Site.RegularPages "Section" "howto") }}
      <tr>
        <td class="text-right align-top text-lg">{{ .Date.Format "Jan 2, 2006" }}</td>
        <td class="pl-4">
          <a class="text-lg" href="{{ .RelPermalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>

          {{ if .Params.Subtitle }}
            <p class=" text-gray-500 italic mr-2">{{ .Params.Subtitle | markdownify }}</p>
          {{ end }}
  
          {{ range .Params.tags }}
            <a class="text-slate-700" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </td>
      </tr>
      {{end }}
      <tr><td></td><td class="pl-4"><a href="/howtos">More...</a></td></tr>
    </table>
  </div>

  <div>
    <h2 class="text-lg font-semibold"><a href="/labnotes">Labnotes</a></h2>

    <table class="table-auto">
      {{ range first 5 (where .Site.RegularPages "Section" "labnotes") }}
      <tr>
        <td class="text-right align-top text-lg">{{ .Date.Format "Jan 2, 2006" }}</td>
        <td class="pl-4">
          <a class="text-lg" href="{{ .RelPermalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>

          {{ if .Params.Subtitle }}
            <p class=" text-gray-500 italic mr-2">{{ .Params.Subtitle | markdownify }}</p>
          {{ end }}
  
          {{ range .Params.tags }}
            <a class="text-slate-700" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </td>
      </tr>
      {{end }}
      <tr><td></td><td class="pl-4"><a href="/labnotes">More...</a></td></tr>

    </table>
  </div>
</div>
{{ end }}