{{ define "main" }}
{{ $dateFormat := default "Jan 2" (index .Site.Params "date_format") }}
{{ $.Scratch.Set "lastYear" ""}}
<h1 class="text-xl font-bold">{{ .Type | humanize }}</h1>

<table class="table-auto">
  <tbody>
    {{ range .Pages }}
    {{ $year := .Date.Year }}
    {{ $lastYear := $.Scratch.Get "lastYear"}}
    {{ if ne $year $lastYear }}
      {{ $.Scratch.Set "lastYear" $year }}
      <tr><th class="text-right w-40 pt-8">{{ $year }}</th></tr>
    {{ end }}

    <tr>
      <td class="text-right align-top text-lg">{{ .Date.Format "Jan 2" }}</td>
      <td class="pl-4">
        <a class="text-lg" href="{{ .RelPermalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>

        {{ if .Params.Subtitle }}
        <p class=" text-gray-500 italic mr-2">{{ .Params.Subtitle | markdownify }}</p>
      {{ end }}
  
      {{ range .Params.tags }}
      <a class="text-slate-700" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ end }}