{{ $filename := .Get 0 }}
{{ $stage := .Get 1 }}
{{ $diff := "" }}
{{ if $stage }}
{{ if eq $stage "final" }}
{{ $diff = (print .Page.File.Dir $filename ".diff") | readFile }}
{{ else }}
{{ $diff = (print .Page.File.Dir $filename "." $stage ".diff" ) | readFile}}
{{ $filename = (print $filename "." $stage) }}
{{ end }}
{{ else }}
{{ $diff = (print .Page.File.Dir $filename ".base") | readFile }}
{{ $filename = (print $filename ".base") }}
{{ end }}
{{ (print "[`" $filename "`](./" $filename "):\n") | markdownify }}
{{ highlight $diff "diff" "" }}

