ReferenceError: Can't find variable: $

  file:///Users/wschenk/src/willschenk.com/build/index.html:8
/*** uncss> filename: build/stylesheets/application-635fa4f1.css ***/

ReferenceError: Can't find variable: $

  file:///Users/wschenk/src/willschenk.com/build/index.html:8
 
/*** uncss> filename: build/stylesheets/webicons-da5ecace.css ***/
.webicon {
  display: inline-block;
  background-size: 100%;
  width: 30px;
  height: 30px;
  text-indent: -999em;
  text-align: left;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.5);
  box-shadow: 0 1px 0 rgba(0,0,0,0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.webicon:hover {
  margin: -1px 0 1px;
  -moz-box-shadow: 0 2px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.25);
  box-shadow: 0 2px 0 rgba(0,0,0,0.25);
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .webicon {
    text-indent: 0;
    width: auto !important;
    height: auto !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
}

