/* motion setup */
h1,
h1 + p,
h1 + p + * {
  transition: opacity 0.5s, filter 0.7s;
  filter: none;
  opacity: 1;

  @starting-style {
    filter: blur(10px);
    opacity: 0;
  }
}

/* apply motion in sequence */
h1 {
  transition-delay: 0.1s;
}
