{{ $masIns := .Get 0 }}
{{ $tootLink := "" }}
{{ $handleInst := "" }}
{{ $mediaMD5 := "" }}
{{ $imageCount := 0 }}
{{ $votesCount := 0 }}
{{ $id := .Get 1 }}
{{ $urlToGet := print "https://" $masIns "/api/v1/statuses/" $id }}

{{- with try (resources.GetRemote $urlToGet)  -}}
       <p class="toot-not-found">[Source not online at time of site build.]</p>
	{{ else }}
		{{ $json := unmarshal .Content }}
		{{ $jsonHolder := $json }}

		{{ if isset $json "account" }}
			{{ $tootLink = print "https://" $masIns "@" $json.account.acct "/status/" $id }}
			{{ $handleInst = print "@" $json.account.acct "@" $masIns }}
		{{ end }}

		{{ if isset $json "content" }}
			<blockquote class="toot-embed" cite="{{ $tootLink }}">
				<div class="toot-header">
					<a class="toot-avatar-link" href="https://{{ $masIns }}/@{{ $json.account.acct }}" rel="noopener">
						<img
							class="toot-avatar"
							src="{{ $json.account.avatar }}"
							alt="Mastodon avatar for {{ $handleInst }}"
							loading="lazy"
						/>
					</a>
					<div class="toot-author">
						<a class="toot-author-name" href="https://{{ $masIns }}/@{{ $json.account.acct }}" rel="noopener">{{ $json.account.display_name }}</a>
						<a class="toot-author-handle" href="https://{{ $masIns }}/@{{ $json.account.acct }}" rel="noopener">{{ $handleInst }}</a>
					</div>
				</div>
				<div class="toot-content">{{ $json.content | safeHTML }}</div>
				{{ with $json.media_attachments }}
					{{ range $media_attachments := . }}
						{{ if eq $media_attachments.type "image" }}
							{{ $imageCount = (add ($imageCount) 1) }}
						{{ end }}
					{{ end }}
					<div class="toot-media">
					{{ range $media_attachments := . }}
						{{ if eq $media_attachments.type "image" }}
							{{ $mediaMD5 = md5 $media_attachments.url }}
							<style>
								.img-{{ $mediaMD5 }} {
									aspect-ratio: {{ $media_attachments.meta.original.width }} / {{ $media_attachments.meta.original.height }};
								}
							</style>
							<img
								src="{{ $media_attachments.url }}"
								alt="Image {{ $media_attachments.id }} from toot {{ $id }} on {{ $masIns }}"
								class="img-{{ $mediaMD5 }}{{ if $json.sensitive }} toot-blur{{ end }}"
								loading="lazy"
								{{- if $json.sensitive }}onclick="this.classList.toggle('toot-unblurred')"{{- end }}
							/>
							{{- if $json.sensitive -}}
								<div class="toot-sensitive-overlay">
									Sensitive content<br />
									(flagged&nbsp;at&nbsp;origin)
								</div>
							{{- end -}}
						{{ end }}
					{{ end }}
					</div>
					{{ range $media_attachments := . }}
						{{ if eq $media_attachments.type "video" }}
							{{ $mediaMD5 = md5 $media_attachments.url }}
							<style>
								.img-{{ $mediaMD5 }} {
									aspect-ratio: {{ $media_attachments.meta.original.width }} / {{ $media_attachments.meta.original.height }};
								}
							</style>
							<div class="toot-video-wrap">
								<video muted playsinline controls class="toot-video img-{{ $mediaMD5 }}{{ if $json.sensitive }} toot-blur{{ end }}"{{- if $json.sensitive }}onclick="this.classList.toggle('toot-unblurred')"{{- end }}>
									<source src="{{ $media_attachments.url }}">
									<p class="toot-not-found">(Your browser doesn&rsquo;t support the <code>video</code> tag.)</p>
								</video>
								{{- if $json.sensitive -}}
									<div class="toot-sensitive-overlay">
										Sensitive content<br />
										(flagged&nbsp;at&nbsp;origin)
									</div>
								{{- end -}}
							</div>
						{{ end }}
						{{ if eq $media_attachments.type "gifv" }}
							{{ $mediaMD5 = md5 $media_attachments.url }}
							<style>
								.img-{{ $mediaMD5 }} {
									aspect-ratio: {{ $media_attachments.meta.original.width }} / {{ $media_attachments.meta.original.height }};
								}
							</style>
							<div class="toot-video-wrap">
								<video loop autoplay muted playsinline controls controlslist="nofullscreen" class="toot-video img-{{ $mediaMD5 }}{{ if $json.sensitive }} toot-blur{{ end }}"{{- if $json.sensitive }}onclick="this.classList.toggle('toot-unblurred')"{{- end }}>
									<source src="{{ $media_attachments.url }}">
									<p class="toot-not-found">(Your browser doesn&rsquo;t support the <code>video</code> tag.)</p>
								</video>
								{{- if $json.sensitive -}}
									<div class="toot-sensitive-overlay">
										Sensitive content<br />
										(flagged&nbsp;at&nbsp;origin)
									</div>
								{{- end -}}
							</div>
						{{ end }}
					{{ end }}
				{{ end }}
				{{ with $json.card }}
					{{- $cardData := . -}}
					{{- with $cardData.image -}}
						<a href="{{ $cardData.url }}" rel="noopener" class="toot-card">
							<div class="toot-card-inner">
								<div class="toot-card-image-wrap">
									<img src="{{ $cardData.image }}" alt="Card image from {{ $masIns }} toot {{ $id }}" loading="lazy" class="toot-card-image" />
								</div>
								<div class="toot-card-text">
									<p class="toot-card-title">{{ $cardData.title }}</p>
									<p class="toot-card-desc">{{ $cardData.description }}</p>
								</div>
							</div>
						</a>
					{{- end -}}
				{{ end }}
				{{ with $json.poll }}
					{{ $poll := . }}
					{{ with $poll.options }}
						{{ range $pollOptions := . }}
							{{ $votesCount = add $votesCount $pollOptions.votes_count }}
						{{ end }}
						{{ range $pollOptions := . }}
                        <div class="toot-poll-row">
						  <div class="toot-poll-pct">
							<strong>{{ (mul 100 (div $pollOptions.votes_count $votesCount)) | lang.FormatPercent 1 }}</strong>
						  </div>
						  <div class="toot-poll-bar">
							<meter class="" id="vote-count" max="{{ $votesCount }}" value="{{ $pollOptions.votes_count }}"></meter>
						  </div>
						  <div class="toot-poll-label">{{ $pollOptions.title }}</div>
                        </div>
						{{ end }}
				        <p class="toot-poll-total">{{ $votesCount }} votes</p>
					{{ end }}
				{{ end }}
				<div class="toot-footer">
					<a href="https://{{ $masIns }}/@{{ $json.account.acct }}/{{ $json.id }}" rel="noopener">{{ dateFormat "3:04 PM • January 2, 2006" $json.created_at }}</a>&nbsp;<span class="toot-utc">(UTC)</span>
				</div>
			</blockquote>
		{{ end }}
{{- end -}}
