<nav class="container my-5">
  <h1 class="pt-5 display-3"><a class="text-dark" href="/">{{ .Site.Title }}</a></h1>
  <p>
    {{ range .Site.Menus.main }}
      <a class="text-dark h4 mr-3 font-weight-light" href="{{ .URL | relURL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end }}
    <a href="/index.xml" class="mr-3 h4 text-light"><img src="/img/rss.svg" alt="rss" height="20" width="20"/></a>
    {{ if .Site.Social.twitter }}
      <a href="https://twitter.com/@{{ .Site.Social.twitter }}" class="mr-3 h4 text-light"><img src="/img/twitter.svg" alt="twitter" height="20" width="20"/></a>
    {{ end }}
    {{ if .Site.Social.instagram }}
      <a href="https://instagram.com/{{ .Site.Social.instagram }}" class="mr-3 h4 text-light"><img src="/img/instagram.svg" alt="instagram" height="20" width="20"/></a>
    {{ end }}
    {{ if .Site.Social.linkedin }}
      <a href="https://linkedin.com/in/{{ .Site.Social.linkedin }}" class="mr-3 h4 text-light"><img src="/img/linkedin.svg" alt="linkedin" height="20" width="20"/></a>
    {{ end }}
  </p>
</nav>
