{{ $dateFormat := default "Jan 2" (index .Site.Params "date_format") }}
{{ $.Scratch.Set "lastYear" ""}}

<h1 class="text-center">Articles</h1>
{{ range .Pages }}
{{ $year := .Date.Year }}
{{ $lastYear := $.Scratch.Get "lastYear"}}


{{ if ne $year $lastYear }}
<div class="row mt-2">
  <div class="d-none d-sm-block col-sm-2 offset-sm-2 text-right align-top">
  </div>
  <div class="col">
    <p class="text-muted mt-5 text-body">{{ $year }}</p>
    {{ $.Scratch.Set "lastYear" $year }}
  </div>
</div>
{{ end }}

<div class="row mt-2">
  <div class="d-none d-sm-block col-sm-2 offset-sm-2 text-right align-top">
    <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time>
  </div>
  <div class="col">
    <a class="text-body" href="{{ .RelPermalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
    <br/>
    {{ if .Params.Subtitle }}
    <a class="text-muted font-weight-light font-italic" href="{{ .RelPermalink }}">{{ .Params.Subtitle | markdownify }}</a>
    <br/>
    {{ end }}

    {{ range .Params.tags }}
      <a class="text-muted" href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
    {{ end }}
  </div>
</div>
{{ end }}
