<style>
  @media( max-width: 768px ) {
    .media {
      display: block;
    }

    .media img {
      margin: auto !important;
      display: block;
      padding-bottom: 1em;
    }
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <div class="media h-card no-md-media">
      {{ $images := .Resources.Match "will.jpg" }}
      {{ $image := index $images 0 }}
      {{ $image := $image.Resize "600x600" }}
      <img class="mr-3 img-fluid u-photo" src="{{ $image.RelPermalink }}" width="300">

      <div class="media-body">
        <h5 class="mt-0">About Me</h5>
        <p class="lead">Hi, I'm <span class="p-name">Will Schenk</span> and I co-founded <a href="https://happyfuncorp.com" class="p-org">HappyFunCorp</a> in 2009.  We build software products for companies large and small.  We've built hundreds.</p>
        <p>When I'm not helping to run the company as the COO, I'm a <span class="p-job-title">software craftman</span> in my spare time.</p>
        <p>This is my personal site where I document some of my findings wandering around the internet.</p>
        <p>My wife and I have 3 children (currently all under the age of 5) and a dog, and live in <span class="p-region">Brooklyn, NY</span></p>
        <p>We are about to buy an RV.</p>
      </div>
    </div>
  </div>
</div>
