<style>
  @media( max-width: 768px ) {
    .media {
      display: block;
    }

    .media img {
      margin: auto !important;
      display: block;
      padding-bottom: 1em;
    }
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <div class="media h-card no-md-media">
      {{ $images := .Resources.Match "will.jpg" }}
      {{ $image := index $images 0 }}
      {{ $image := $image.Resize "600x600" }}
      <img class="mr-3 img-fluid u-photo" src="{{ $image.RelPermalink }}" width="300">

      <div class="media-body">
        <h5 class="mt-0">About Me</h5>
        <p class="lead">Hi, I'm <span class="p-name">Will Schenk</span> and I co-founded <a href="https://happyfuncorp.com" class="p-org">HappyFunCorp</a> in 2009.  We build software products for companies large and small.  We've built hundreds.</p>
        <p>
          When I'm not helping to run the company as the COO, I'm a <span class="p-job-title">software craftman</span> in my spare time.
          This is my personal site where I document some of my findings wandering around the internet.
        </p>
        <p class="p-note">My wife and I have 3 children (currently all under the age of 5) and a dog, and live in <span class="p-region">Brooklyn, NY</span></p>
        <p>We are about to buy an RV.</p>
        <ul style="display:none">
          <li><a href="https://willschenk.com" class="u-url u-uid" rel="me">Web Site</a></li>
          {{ if .Site.Social.twitter }}
          <li><a href="https://twitter.com/@{{ .Site.Social.twitter }}" rel="me"><img src="/img/twitter.svg" alt="twitter" height="20" width="20"/></a></li>
          {{ end }}
          {{ if .Site.Social.instagram }}
          <li><a href="https://instagram.com/{{ .Site.Social.instagram }}" rel="me"><img src="/img/instagram.svg" alt="instagram" height="20" width="20"/></a></li>
          {{ end }}
          {{ if .Site.Social.linkedin }}
          <li><a href="https://linkedin.com/in/{{ .Site.Social.linkedin }}" rel="me"><img src="/img/linkedin.svg" alt="linkedin" height="20" width="20"/></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>
