{{ define "main" }}

<div class="main"> 
  <h1 class="text-center sm:text-left pl-4">{{ .Title }}</h1>
  <div class="md:flex">
    <div class="m-4">
      {{ $images := .Resources.Match "avatar.jpg" }}
      {{ $image := index $images 0 }}
      {{ $image := $image.Resize "1000x1000" }}
      <img class="u-photo max-w-full" src="{{ $image.RelPermalink }}" >
    </div>
    <div class="content px-2">
      {{ .Content }}
    </div>
  </div>
</div>

<div class="w-full p-2">
  <h2 class="text-xl font-bold pb-4">Current Projects</h2>

  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 pb-4">
    {{ range .Site.Data.current_projects.projects }}
      <a class="block" href="{{.url}}">
        <p class="font-bold text-xl md:inline">{{ .name }}</p>
        <p class="inline">
        {{ .description }}
      </p>
      </a>
    {{ end }}
  </div>
</div>

{{ end }}
