/* @global/layout.css */
/* all reset/normalization you need */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* page layout */
body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2% 5%;
}

header nav, footer nav {
    display: flex;
    justify-content: space-between;
    
    a {
        text-decoration: none;
        font-weight: 600;
        color: var(--gray-900);
    }
    
    a:hover {
        background: var(--gray-300);
        transition: background-color 1s;
    }
}

header nav {
    margin-bottom: 4rem;
}

footer nav {
    margin-top: 4rem;
}
