/* @global/typography.css */
body {
    /* https://github.com/system-fonts/modern-font-stacks#neo-grotesque */
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}
