:root {
    --main-font-family: "Fraunces", system-ui;
    --background: #fafaf9;
    --text-color: #451a03;
    --header-color: #032e45;
    --diminished-text-color: #78716c;
}

body {
    font-family: var( --main-font-family );
    color: var( --text-color );
    background: var( --background );
    margin: 0;
}

header {
    opacity: 0;
    transition: all 1s ease-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 600px;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;

    &:hover {
        opacity: 1;
    }
}

section {
    height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

main {
    max-width: 1200px;
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    font-size: 80px;
    font-size: clamp( 40px, 7vw, 80px );
    color: var( --header-color );
    margin: 0;
}

h2 {
    font-size: 60px;
    font-size: clamp( 40px, 5vw, 60px );
    color: var( --diminished-text-color );
    margin: 0;
}

h3 {
    font-size: 40px;
    font-size: clamp( 20px, 4vw, 40px );
     color: var( --diminished-header-color );
     text-transform: uppercase;
     margin:0;
}

p {
    font-size: clamp( 16px, 3vw, 36px );
    }
