<footer class="pt-8 sticky bottom-0 bg-white sm:bg-white/75 ">
  <div class="md:flex justify-between max-w-screen-lg mx-auto">
    <div><a class="text-2xl tracking-tight" href="/">{{.Site.Title}}</a></div>
    <ul class="align-bottom">
      <li class="inline-block mr-4"><a href="{{ ref . "about" }}">About</a></li>
      <li class="inline-block mr-4"><a href="{{ ref . "howto" }}">Howto</a></li>
      <li class="inline-block mr-4"><a href="{{ ref . "labnotes" }}">Lab Notes</a></li>
      <li class="inline-block"><a href="{{ ref . "articles" }}">Articles</a></li>
    </ul>
  </div>
</footer>