<header class="md:py-8">
  <div class="flex flex-wrap justify-between max-w-screen-lg mx-auto p-2 md:p-0">
    <div class="text-center md:text-left"><a class="text-2xl tracking-tight" href="/">{{.Site.Title}}</a></div>
    <div class="md:hidden">
      <button id="menu-toggle">
        <svg viewBox="0 0 100 80" width="20" height="20">
          <rect width="100" height="20" rx="8"></rect>
          <rect y="30" width="100" height="20" rx="8"></rect>
          <rect y="60" width="100" height="20" rx="8"></rect>
        </svg>
      </button>
    </div>
    <ul id="nav_menu" class="align-bottom w-full md:w-auto md:text-center flex-wrap hidden md:block">
      <li class="md:inline-block md:mr-4"><a href="{{ ref . "about" }}">About</a></li>
      <li class="md:inline-block md:mr-4"><a href="{{ ref . "articles" }}">Articles</a></li>
      <li class="md:inline-block md:mr-4"><a href="{{ ref . "howto" }}">Howto</a></li>
      <li class="md:inline-block md:mr-4"><a href="{{ ref . "labnotes" }}">Labnotes</a></li>
      <li class="md:inline-block md:mr-4"><a href="{{ ref . "fragments" }}">Fragments</a></li>
      <li class="md:inline-block"><a href="#" id="search_toggle">Search</a></li>
    </ul>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
	    var trigger = document.getElementById('menu-toggle');
	    var element = document.getElementById('nav_menu');

	    trigger.addEventListener('click', () => {
		    element.classList.toggle('hidden');
	    });
    });
    </script>
</header>
