<h2 class="text-xl font-bold pb-4"><a class="hover:underline" href="{{.Scratch.Get "link"}}">{{ .Scratch.Get "title" }}</a></h2>

<table class="table-auto">
  {{ range first 5 (where .Site.RegularPages "Section" "articles") }}
  <tr>
    <td class="text-right align-top text-lg">{{ .Date.Format "Jan 2, 2006" }}</td>
    <td class="pl-4">
      <a class="text-lg" href="{{ .RelPermalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>

      {{ if .Params.Subtitle }}
        <p class=" text-gray-500 italic mr-2">{{ .Params.Subtitle | markdownify }}</p>
      {{ end }}

      {{ range .Params.tags }}
        <a class="text-slate-700" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </td>
  </tr>
  {{end }}
  <tr><td></td><td class="pl-4"><a href="{{.Scratch.Get "link"}}">More...</a></td></tr>
</table>