<div class="md:w-1/2 pb-4">
{{ $pages := dict }}
{{ range .Site.RegularPages }}
  {{ $pages = merge $pages (dict .RelPermalink .)}}
  {{ $page := . }}
  {{ range .Aliases }}
    {{ $pages = merge $pages (dict . $page) }}
    {{ $concat := print . "/"}}
    {{ $pages = merge $pages (dict $concat $page) }}
  {{ end }}
{{ end }}
  <h2 class="text-xl font-bold pb-4">{{ .Scratch.Get "year" }}</h2>

  <table>
    {{ range (.Scratch.Get "stats") }}
      {{ $visitors := .visitors }}
      {{ with index $pages .page }}
        <tr>
          <td class="text-right align-top pr-2">
            <p class="text-lg">{{ .Date.Format "Jan 2, 2006" }}</p>
            <p class="text-sm text-gray-500">{{ $visitors }} visitors</p>

            </td>
          <td>
            <a class="text-lg" href="{{.RelPermalink}}">{{ .Title | markdownify }}</a>
          
            {{ if .Params.Subtitle }}
              <p class="text-gray-500 italic mr-2">
                {{ .Params.Subtitle | markdownify }}
              </p>
            {{ end }}

            {{ range .Params.tags }}
              <a class="text-slate-700" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
          </td>
        </tr>
        {{ end }}
      {{ end }}
  </table>
</div>