---
title: Inflight internet
subtitle: go go go go
date: 2015-12-18 15:13 UTC
tags: toys, howto
---

Say you are two people on a plane who need access to internet.  A flight pass costs $9.95, so that would be $19.90 for both.  Here's how to get it for $8.95 instead:

- Fire up the iOS simulator.

<div class="row"><div class="col-sm-4 col-xs-8"><%= image_tag 'wifi/simulator.jpg' %></div></div>

- Use the simulator to sign up for the mobile price of $8.95, rather than the computer price of $9.95.  Since you are signing up on your computer, once you have access the whole machine has access.

- Turn on Internet Sharing over bluetooth in system preferences

<div class="row"><div class="col-sm-8"><%= image_tag 'wifi/sharing.jpg' %></div></div>

- Make your computer discoverable over bluetooth by opening up the blue tooth preferences:

<div class="row"><div class="col-sm-8"><%= image_tag 'wifi/bluetooth.jpg' %></div></div>

- On the second computer, turn _off_ wifi and turn _on_ bluetooth.  Connect to the first computer using bluetooth.  The first computer will ask if you want to pair, and say yes.

- Once it's connected, on the second computer say "Connect to Network" in the bluetooth menu.

- Now you email in the sky.