body {
    font-family: var(--sl-font-sans);
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 var(--sl-spacing-medium);
}

h1 {
    font-size: var(--sl-font-size-3x-large);
}

h2 {
    font-size: var(--sl-font-size-2x-large);
}

h3 {
    font-size: var(--sl-font-size-x-large);
}

h4 {
    font-size: var(--sl-font-size-large);
}

p,
ul,
ol {
    font-size: var(--sl-font-size-large);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#post-form {
    max-width: 65ch;
    margin: 0 auto;
}

.sl-toast-stack {
    left: 0;
    right: auto;
}
