---
title: Will Schenk
---
.jumbrotron
  .container
    %h1 Technology for the blank page

.content
  .row
    .article
      - current_post = page_articles.first
      %h1= current_post.title
      %h2= current_post.data['subtitle']

      - current_post.tags.sort.each do |tag|
        .tag= link_to tag, tag_path( tag )

      = chapters( current_post )