---
pageable: true
per_page: 12
---

%section.recent-posts
  .container
    .row
      .post-list
        %h1
          = "#{tagname.capitalize} articles"

        - if data['topics'][tagname.to_sym]
          %h2= data['topics'][tagname.to_sym][:desc]

        = partial "post_list", :locals => {:page_articles => page_articles}
