{{ define "main" }}
<div class="home">
  <article>
    <div class="meta"></div>
    <div class="content">
      {{ .Content }}
    </div>
  </article>


  {{ range $index, $page := where .Site.RegularPages "Type" "!=" "page"}}
  <article>
    <div class="meta">
      <h3><a href="/{{ .Type }}">{{ .Type }}</a></h3>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </div>

    <div class="content">
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <h3>{{ .Params.Subtitle }}</h3>

      {{ if (lt $index  3) }}
      <p>{{ .Summary }}</p>
      <a class="content_link" href="{{ .RelPermalink }}">Read more...</a>
      {{ end }}
    </div>
  </article>

  {{ end }}
</div>
{{ end }}
