{{ define "main" }}
<section class="list">
  {{ .Content }}

  <ul class="post-list">
  {{ $dateFormat := default "Jan 2" (index .Site.Params "date_format") }}
  {{ $.Scratch.Set "lastYear" "" }}
  {{ $.Scratch.Set "lastMonth" "" }}
  {{ range .Pages }}


  {{ $year := .Date.Year }}
  {{ $month := .Date.Month }}

  {{ $lastYear := $.Scratch.Get "lastYear"}}
  {{ $lastMonth := $.Scratch.Get "lastMonth"}}
  {{ if eq $lastYear "" }}
    <li class="month">{{ $month }} {{ $year }}</li>
  {{ else }}
    {{ if ne $year $lastYear }}
      <li class="year">{{ $year }}</li>
    {{ end }}

    {{ if ne $month $lastMonth }}
      <li class="month">{{ $month }}</li>
    {{ end }}
  {{ end }}
      
  {{ $.Scratch.Set "lastYear" $year }}
  {{ $.Scratch.Set "lastMonth" $month }}

  <li><a href="{{ .RelPermalink }}">
      <p>
      {{ if .Draft }}DRAFT: {{end}}
      {{ .LinkTitle }}
      <span class="subtitle">
        {{ .Params.Subtitle | markdownify }}
      </span>
      </p>
      <time>{{ humanize .Date.Day }}</time>
    </a>
  </li>
      {{ end }}
  </ul>

</section>
{{ end }}
