{{ define "main" }}
<article>
  <header>
    <div class="meta">
      <h3><a href="/{{ .Type }}">{{ .Type }}</a></h3>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </div>

    <div class="front-matter">
      <h1>{{ .Title }}</h1>
      {{ if .Params.Subtitle }}
      <h2>{{ .Params.Subtitle | markdownify }}</h2>
      {{ end }}

      <ul class="tags">
        {{ range .Params.tags }}
        <li>
          <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="toc">
      <h3>Contents</h3>
      {{ .TableOfContents }}
    </div>
  </header>

  <section>
    {{ .Content }}
  </section>

  <section class="forward-back">
    {{ with .Prev }}
    <div class="post">
      <h3>Previously</h3>
      <a class="section" href="/{{.Section}}">{{ .Section }}</a>
      <time>{{ .Date.Format "Jan 02 2006" }}</time>
      <a class="post" href="{{ .RelPermalink }}">
        <p>
          {{ if .Draft }}DRAFT: {{end}}
          {{ .LinkTitle }}
          <span class="subtitle">
            {{ .Params.Subtitle | markdownify }}
          </span>
        </p>
      </a>
    </div>
    {{ end }}

    {{ with .Next }}
    <div class="post">
      <h3>Next</h3>
      <a class="section" href="/{{.Section}}">{{ .Section }}</a>
      <time>{{ .Date.Format "Jan 02 2006" }}</time>
      <a class="post" href="{{ .RelPermalink }}">
        <p>
          {{ if .Draft }}DRAFT: {{end}}
          {{ .LinkTitle }}
          <span class="subtitle">
            {{ .Params.Subtitle | markdownify }}
          </span>
        </p>
      </a>
    </div>
    {{ end }}

  </section>
</article>
{{ end }}
