{{ define "main" }}
<article>
  <header>
    <span class="section">
      <a href="/{{ .Type }}">{{ .Type }}</a>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </span>

    <h1>{{ .Title }}</h1>
    {{ if .Params.Subtitle }}
    <h2>{{ .Params.Subtitle | markdownify }}</h2>
    {{ end }}

    
    <dl>
      <dt>tags</dt>
      {{ range .Params.tags }}
      <dd>
        <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
      </dd>
      {{ end }}
    </dl>
  </header>

  <section>
    <div class="toc">
      <h3>Contents</h3>
      {{ .TableOfContents }}
    </div>

    <div class="prose">
      {{ .Content }}
    </div>
  </section>
  
  <section class="forward-back">
    {{ with .Prev }}
      <p>Previously</p>
      {{ partial "post.html" . }}
    {{ end }}

    {{ with .Next }}
      <p>Next</p>
      {{ partial "post.html" . }}
    {{ end }}
  </section>
</article>
{{ end }}
